<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.ShopIntegralConvertMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.ShopIntegralConvert" >
    <id column="shop_integral_convert_id" property="shopIntegralConvertId" jdbcType="CHAR" />
    <result column="shop_integral_id" property="shopIntegralId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="integral_trade_type" property="integralTradeType" jdbcType="CHAR" />
    <result column="integral_trade_id" property="integralTradeId" jdbcType="CHAR" />
    <result column="trade_integral_value" property="tradeIntegralValue" jdbcType="INTEGER" />
    <result column="info_source" property="infoSource" jdbcType="CHAR" />
    <result column="convert_time" property="convertTime" jdbcType="TIMESTAMP" />
    <result column="consignee_id" property="consigneeId" jdbcType="CHAR" />
    <result column="delivery_status" property="deliveryStatus" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      shop_integral_convert_id, shop_integral_id, user_id, 
      shop_id, integral_trade_type, integral_trade_id, 
      trade_integral_value, info_source, convert_time, 
      consignee_id, delivery_status, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvertExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from shop_integral_convert
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvertExample" resultType="java.lang.Integer">
    select count(*) from shop_integral_convert
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvertKey" >
    select 
      shop_integral_convert_id, shop_integral_id, user_id, 
      shop_id, integral_trade_type, integral_trade_id, 
      trade_integral_value, info_source, convert_time, 
      consignee_id, delivery_status, is_del, 
      create_time, c_time_stamp
    from shop_integral_convert where shop_integral_convert_id = #{shopIntegralConvertId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvertExample">
    delete from shop_integral_convert
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvertKey" >
    delete from shop_integral_convert where shop_integral_convert_id = #{shopIntegralConvertId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvert" >
    insert into shop_integral_convert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "shopIntegralConvertId != null">
         shop_integral_convert_id,
      </if>
      <if test= "shopIntegralId != null">
         shop_integral_id,
      </if>
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "integralTradeType != null">
         integral_trade_type,
      </if>
      <if test= "integralTradeId != null">
         integral_trade_id,
      </if>
      <if test= "tradeIntegralValue != null">
         trade_integral_value,
      </if>
      <if test= "infoSource != null">
         info_source,
      </if>
      <if test= "convertTime != null">
         convert_time,
      </if>
      <if test= "consigneeId != null">
         consignee_id,
      </if>
      <if test= "deliveryStatus != null">
         delivery_status,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "shopIntegralConvertId != null">
         #{shopIntegralConvertId,jdbcType=CHAR},
      </if>
      <if test= "shopIntegralId != null">
         #{shopIntegralId,jdbcType=CHAR},
      </if>
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "integralTradeType != null">
         #{integralTradeType,jdbcType=CHAR},
      </if>
      <if test= "integralTradeId != null">
         #{integralTradeId,jdbcType=CHAR},
      </if>
      <if test= "tradeIntegralValue != null">
         #{tradeIntegralValue,jdbcType=INTEGER},
      </if>
      <if test= "infoSource != null">
         #{infoSource,jdbcType=CHAR},
      </if>
      <if test= "convertTime != null">
         #{convertTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "consigneeId != null">
         #{consigneeId,jdbcType=CHAR},
      </if>
      <if test= "deliveryStatus != null">
         #{deliveryStatus,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update shop_integral_convert
    <set>
        shop_integral_convert_id = #{record.shopIntegralConvertId,jdbcType=CHAR},
        shop_integral_id = #{record.shopIntegralId,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        integral_trade_type = #{record.integralTradeType,jdbcType=CHAR},
        integral_trade_id = #{record.integralTradeId,jdbcType=CHAR},
        trade_integral_value = #{record.tradeIntegralValue,jdbcType=INTEGER},
        info_source = #{record.infoSource,jdbcType=CHAR},
        convert_time = #{record.convertTime,jdbcType=TIMESTAMP},
        consignee_id = #{record.consigneeId,jdbcType=CHAR},
        delivery_status = #{record.deliveryStatus,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update shop_integral_convert
    <set>
      <if test="record.shopIntegralConvertId !=null">
        shop_integral_convert_id = #{record.shopIntegralConvertId,jdbcType=CHAR},
      </if>
      <if test="record.shopIntegralId !=null">
        shop_integral_id = #{record.shopIntegralId,jdbcType=CHAR},
      </if>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.integralTradeType !=null">
        integral_trade_type = #{record.integralTradeType,jdbcType=CHAR},
      </if>
      <if test="record.integralTradeId !=null">
        integral_trade_id = #{record.integralTradeId,jdbcType=CHAR},
      </if>
      <if test="record.tradeIntegralValue !=null">
        trade_integral_value = #{record.tradeIntegralValue,jdbcType=INTEGER},
      </if>
      <if test="record.infoSource !=null">
        info_source = #{record.infoSource,jdbcType=CHAR},
      </if>
      <if test="record.convertTime !=null">
        convert_time = #{record.convertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.consigneeId !=null">
        consignee_id = #{record.consigneeId,jdbcType=CHAR},
      </if>
      <if test="record.deliveryStatus !=null">
        delivery_status = #{record.deliveryStatus,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralConvert" >
    update shop_integral_convert
    <set>
      <if test="shopIntegralConvertId !=null">
      shop_integral_convert_id = #{shopIntegralConvertId,jdbcType=CHAR},
      </if>
      <if test="shopIntegralId !=null">
      shop_integral_id = #{shopIntegralId,jdbcType=CHAR},
      </if>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="integralTradeType !=null">
      integral_trade_type = #{integralTradeType,jdbcType=CHAR},
      </if>
      <if test="integralTradeId !=null">
      integral_trade_id = #{integralTradeId,jdbcType=CHAR},
      </if>
      <if test="tradeIntegralValue !=null">
      trade_integral_value = #{tradeIntegralValue,jdbcType=INTEGER},
      </if>
      <if test="infoSource !=null">
      info_source = #{infoSource,jdbcType=CHAR},
      </if>
      <if test="convertTime !=null">
      convert_time = #{convertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consigneeId !=null">
      consignee_id = #{consigneeId,jdbcType=CHAR},
      </if>
      <if test="deliveryStatus !=null">
      delivery_status = #{deliveryStatus,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where shop_integral_convert_id = #{shopIntegralConvertId,jdbcType=CHAR}
  </update>

</mapper>
