<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.business.user.favorite.FavoritePlaceAdapterMapper">
	<resultMap id="BaseResultMap" type="com.gooagoo.entity.business.user.MobileFavoritePlace">
		<result column="obj_id" property="objId" jdbcType="VARCHAR" />
		<result column="obj_img" property="objImg" jdbcType="VARCHAR" />
		<result column="obj_name" property="objName" jdbcType="VARCHAR" />
		<result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
		<result column="shop_id" property="shopId" jdbcType="VARCHAR" />
		<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
		<result column="fav_nums" property="favNums" jdbcType="INTEGER" />
		<result column="comment_numws" property="commentNums" jdbcType="INTEGER" />
		<result column="obj_type" property="objType" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 按goods_sys_type_id（精品类型编号）查询收藏广场下的精品信息 -->
	<select id="findMarketingQualityGoodsOfplaceById" resultMap="BaseResultMap">
		SELECT DISTINCT
		goods.goods_id AS obj_id,
		marketing.goods_img AS obj_img,
		info.goods_name AS obj_name,
		goods.shop_id AS shop_id,
		shop.shop_name AS
		shop_name,
		'G' AS obj_type
		FROM
		gooagoo_marketing.marketing_quality_goods goods
		left join
		gooagoo_goods.goods_base_info info on info.goods_id = goods.goods_id
		left join
		gooagoo_goods.goods_marketing_info marketing on goods.goods_id = marketing.goods_id
		left join
		gooagoo_shop.shop_info shop on goods.shop_id = shop.shop_id
		WHERE
		goods.is_del = 'N'
		AND goods.quality_type_leaf IN (
		SELECT s.goods_type_id
		from gooagoo_base.quality_square_goods_type s where s.goods_type_id
		=#{goodsTypeId}
		UNION
		SELECT s.goods_type_id from
		gooagoo_base.quality_square_goods_type s where
		s.parent_goods_type_id
		=#{goodsTypeId}
		UNION
		select s1.goods_type_id from
		gooagoo_base.quality_square_goods_type s1 where
		s1.parent_goods_type_id in (SELECT s.goods_type_id from
		gooagoo_base.quality_square_goods_type s where s.parent_goods_type_id
		=#{goodsTypeId})
		UNION
		select s2.goods_type_id from
		gooagoo_base.quality_square_goods_type s2 where
		s2.parent_goods_type_id in (select s1.goods_type_id from
		gooagoo_base.quality_square_goods_type s1 where
		s1.parent_goods_type_id in (SELECT
		s.goods_type_id from
		gooagoo_base.quality_square_goods_type s where
		s.parent_goods_type_id
		=#{goodsTypeId}))
		)
		<if test="pageSize !=null" >
	      limit 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>

	<!--按关键字goods_name（商品名称）模糊查询收藏广场下的精品信息 -->
	<select id="fuzzyFindMarketingQualityGoodsOfplaceByKeyWord" resultMap="BaseResultMap">
		SELECT DISTINCT
		goods.goods_id AS obj_id,
		marketing.goods_img AS obj_img,
		info.goods_name AS obj_name,
		goods.shop_id AS shop_id,
		shop.shop_name AS
		shop_name,
		'G' AS obj_type
		FROM
		gooagoo_marketing.marketing_quality_goods goods
		left join
		gooagoo_goods.goods_base_info info on info.goods_id = goods.goods_id
		left join
		gooagoo_goods.goods_marketing_info marketing on goods.goods_id = marketing.goods_id
		left join
		gooagoo_shop.shop_info shop on goods.shop_id = shop.shop_id
		WHERE
		goods.is_del = 'N'
		AND info.goods_name like CONCAT('%',#{goodsName},'%')
		<if test="pageSize !=null" >
	      limit 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>

	<!-- 按ShopTypeId(商家类别编号)查询收藏广场下的优惠信息 -->
	<select id="findCouponOfplaceById" resultMap="BaseResultMap">
		SELECT DISTINCT
		cou.coupon_name AS obj_name,
		cou.coupon_id AS
		obj_id,
		cou.coupon_url AS obj_img,
		info.shop_id AS shop_id,
		info.shop_name AS shop_name,
		'C' AS obj_type
		FROM
		gooagoo_marketing.coupon cou,
		gooagoo_shop.shop_info info
		WHERE
		cou.shop_id = info.shop_id
		<if test="shopId !=null" >
		AND cou.shop_id = #{shopId}
		</if>
		<if test="couponType !=null" >
		AND cou.coupon_type = #{couponType}
		</if>
		AND NOW() BETWEEN cou.publish_start_time AND cou.publish_end_time
		AND cou.use_end_time >= NOW()
		AND cou.publish_status='P'
		AND cou.coupon_channle='1'
		AND cou.is_del='N'
		AND info.shop_type_leaf IN (
		SELECT s.shop_type_id from
		gooagoo_base.shop_type s where s.shop_type_id
		=#{shopTypeId}
		UNION
		SELECT s.shop_type_id from gooagoo_base.shop_type s where
		s.parent_shop_type_id =#{shopTypeId}
		UNION
		select s1.shop_type_id from
		gooagoo_base.shop_type s1 where
		s1.parent_shop_type_id in (SELECT
		s.shop_type_id from
		gooagoo_base.shop_type s where
		s.parent_shop_type_id =#{shopTypeId})
		UNION
		select s2.shop_type_id from
		gooagoo_base.shop_type s2 where
		s2.parent_shop_type_id in (select
		s1.shop_type_id from
		gooagoo_base.shop_type s1 where
		s1.parent_shop_type_id in (SELECT
		s.shop_type_id from
		gooagoo_base.shop_type s where
		s.parent_shop_type_id =#{shopTypeId}))
		)
		<if test="pageSize !=null" >
	      limit 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>

	<!-- 按关键字CouponName（优惠凭证名称）模糊查询收藏广场下的优惠信息 -->
	<select id="fuzzyFindCouponOfplaceByKeyWord" resultMap="BaseResultMap">
		SELECT DISTINCT
		cou.coupon_name AS obj_name,
		cou.coupon_id AS
		obj_id,
		cou.coupon_url AS obj_img,
		info.shop_id AS shop_id,
		info.shop_name AS shop_name,
		'C' AS obj_type
		FROM
		gooagoo_marketing.coupon cou,
		gooagoo_shop.shop_info info
		WHERE
		cou.shop_id = info.shop_id
		<if test="shopId !=null" >
		AND cou.shop_id = #{shopId}
		</if>
		<if test="couponType !=null" >
		AND cou.coupon_type = #{couponType}
		</if>
		AND NOW() BETWEEN cou.publish_start_time AND cou.publish_end_time
		AND cou.use_end_time >= NOW()
		AND cou.publish_status='P'
		AND cou.coupon_channle='1'
		AND cou.is_del='N'
		AND cou.coupon_name like CONCAT('%',#{couponName},'%')
		<if test="pageSize !=null" >
	      LIMIT 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>

	<!-- 按关键字title（活动标题）模糊查询收藏广场下的活动信息 -->
	<select id="fuzzyFindActivityOfplaceByKeyWord" resultMap="BaseResultMap">
		SELECT DISTINCT
		activity.activity_id AS obj_id,
		activity.title AS obj_name,
		activity.img_url AS obj_img,
		info.shop_id AS
		shopId,
		info.shop_name,
		'A' AS obj_type
		FROM
		gooagoo_marketing.marketing_activity activity,
		gooagoo_shop.shop_info info
		WHERE
		activity.shop_id = info.shop_id
		AND activity.publish_status='P'
		AND activity.is_del='N'
		AND activity.end_time >= NOW()
		AND activity.title LIKE CONCAT( '%',#{title},'%')
		<if test="pageSize !=null" >
	      limit 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>

	<!-- 按关键字title（活动标题）模糊查询收藏广场下的活动信息 -->
	<select id="findMobileFavoritePlace" resultMap="BaseResultMap">
		SELECT
		cou.coupon_id AS obj_id,
		cou.coupon_name AS obj_name,
		info.shop_id AS shop_id,
		info.shop_name AS shop_name,
		cou.coupon_url AS obj_img,
		'C' AS obj_type
		FROM
		gooagoo_marketing.coupon cou,
		gooagoo_shop.shop_info info
		WHERE
		cou.shop_id = info.shop_id
		AND cou.publish_end_time >= NOW()
		AND
		cou.publish_status='P'
		AND cou.coupon_channle='1'
		AND cou.is_del='N'
		<if test="keyword !=null" >
		AND cou.coupon_name like CONCAT('%',#{keyword},'%')
		</if>
		UNION
		SELECT
		goods.goods_id AS obj_id,
		info.goods_name AS obj_name,
		goods.shop_id AS shop_id,
		shop.shop_name AS shop_name,
		marketing.goods_img AS obj_img,
		'G' AS obj_type
		FROM
		gooagoo_marketing.marketing_quality_goods goods
		left join
		gooagoo_goods.goods_base_info info on info.goods_id = goods.goods_id
		left join
		gooagoo_goods.goods_marketing_info marketing on goods.goods_id = marketing.goods_id
		left join
		gooagoo_shop.shop_info shop on goods.shop_id = shop.shop_id
		WHERE
		goods.is_del = 'N'
		<if test="keyword !=null" >
		AND info.goods_name like CONCAT('%',#{keyword},'%')
		</if>
		UNION
		SELECT
		activity.activity_id AS obj_id,
		activity.title AS obj_name,
		info.shop_id AS shop_id,
		info.shop_name AS shop_name,
		activity.img_url AS obj_img,
		'A' AS obj_type
		FROM
		gooagoo_marketing.marketing_activity activity,
		gooagoo_shop.shop_info info
		WHERE
		activity.shop_id = info.shop_id
		AND activity.publish_status='P'
		AND activity.is_del='N'
		AND activity.end_time >= NOW()
		<if test="keyword !=null" >
		AND activity.title LIKE CONCAT( '%',#{keyword},'%')
		</if>
		<if test="pageSize !=null" >
	      limit 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>
</mapper>