<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.open.OpenAppInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.open.OpenAppInfo" >
    <id column="app_key" property="appKey" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="app_type" property="appType" jdbcType="VARCHAR" />
    <result column="app_label" property="appLabel" jdbcType="VARCHAR" />
    <result column="app_secret" property="appSecret" jdbcType="CHAR" />
    <result column="volume" property="volume" jdbcType="INTEGER" />
    <result column="app_status" property="appStatus" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      app_key, app_name, app_type, 
      app_label, app_secret, volume, 
      app_status, user_id, create_dt, 
      update_dt
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.open.OpenAppInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from open_app_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.open.OpenAppInfoExample" resultType="java.lang.Integer">
    select count(*) from open_app_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.open.OpenAppInfoKey" >
    select 
      app_key, app_name, app_type, 
      app_label, app_secret, volume, 
      app_status, user_id, create_dt, 
      update_dt
    from open_app_info where app_key = #{appKey,jdbcType=INTEGER}
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.open.OpenAppInfoExample">
    delete from open_app_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.open.OpenAppInfoKey" >
    delete from open_app_info where app_key = #{appKey,jdbcType=INTEGER}
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.open.OpenAppInfo" >
    insert into open_app_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "appKey != null">
         app_key,
      </if>
      <if test= "appName != null">
         app_name,
      </if>
      <if test= "appType != null">
         app_type,
      </if>
      <if test= "appLabel != null">
         app_label,
      </if>
      <if test= "appSecret != null">
         app_secret,
      </if>
      <if test= "volume != null">
         volume,
      </if>
      <if test= "appStatus != null">
         app_status,
      </if>
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "createDt != null">
         create_dt,
      </if>
      <if test= "updateDt != null">
         update_dt
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "appKey != null">
         #{appKey,jdbcType=INTEGER},
      </if>
      <if test= "appName != null">
         #{appName,jdbcType=VARCHAR},
      </if>
      <if test= "appType != null">
         #{appType,jdbcType=VARCHAR},
      </if>
      <if test= "appLabel != null">
         #{appLabel,jdbcType=VARCHAR},
      </if>
      <if test= "appSecret != null">
         #{appSecret,jdbcType=CHAR},
      </if>
      <if test= "volume != null">
         #{volume,jdbcType=INTEGER},
      </if>
      <if test= "appStatus != null">
         #{appStatus,jdbcType=CHAR},
      </if>
      <if test= "userId != null">
         #{userId,jdbcType=VARCHAR},
      </if>
      <if test= "createDt != null">
         #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test= "updateDt != null">
         #{updateDt,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update open_app_info
    <set>
        app_key = #{record.appKey,jdbcType=INTEGER},
        app_name = #{record.appName,jdbcType=VARCHAR},
        app_type = #{record.appType,jdbcType=VARCHAR},
        app_label = #{record.appLabel,jdbcType=VARCHAR},
        app_secret = #{record.appSecret,jdbcType=CHAR},
        volume = #{record.volume,jdbcType=INTEGER},
        app_status = #{record.appStatus,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=VARCHAR},
        create_dt = #{record.createDt,jdbcType=TIMESTAMP},
        update_dt = #{record.updateDt,jdbcType=TIMESTAMP}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update open_app_info
    <set>
      <if test="record.appKey !=null">
        app_key = #{record.appKey,jdbcType=INTEGER},
      </if>
      <if test="record.appName !=null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.appType !=null">
        app_type = #{record.appType,jdbcType=VARCHAR},
      </if>
      <if test="record.appLabel !=null">
        app_label = #{record.appLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.appSecret !=null">
        app_secret = #{record.appSecret,jdbcType=CHAR},
      </if>
      <if test="record.volume !=null">
        volume = #{record.volume,jdbcType=INTEGER},
      </if>
      <if test="record.appStatus !=null">
        app_status = #{record.appStatus,jdbcType=CHAR},
      </if>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDt !=null">
        create_dt = #{record.createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDt !=null">
        update_dt = #{record.updateDt,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.open.OpenAppInfo" >
    update open_app_info
    <set>
      <if test="appKey !=null">
      app_key = #{appKey,jdbcType=INTEGER},
      </if>
      <if test="appName !=null">
      app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appType !=null">
      app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="appLabel !=null">
      app_label = #{appLabel,jdbcType=VARCHAR},
      </if>
      <if test="appSecret !=null">
      app_secret = #{appSecret,jdbcType=CHAR},
      </if>
      <if test="volume !=null">
      volume = #{volume,jdbcType=INTEGER},
      </if>
      <if test="appStatus !=null">
      app_status = #{appStatus,jdbcType=CHAR},
      </if>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createDt !=null">
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt !=null">
      update_dt = #{updateDt,jdbcType=TIMESTAMP}
      </if>
    </set>
    where app_key = #{appKey,jdbcType=INTEGER}
  </update>

</mapper>
