<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.gooagoo.dao.business.user.shoppingmatch.ShoppingMatchAdapterMapper">
	<resultMap id="BaseResultMap"
		type="com.gooagoo.entity.generator.goods.GoodsBaseInfo">
		<id column="goods_id" property="goodsId" jdbcType="CHAR" />
		<result column="goods_name" property="goodsName" jdbcType="CHAR" />
		<result column="shop_id" property="shopId" jdbcType="CHAR" />
		<result column="shop_entity_id" property="shopEntityId"
			jdbcType="CHAR" />
		<result column="goods_category_root" property="goodsCategoryRoot"
			jdbcType="CHAR" />
		<result column="goods_category_leaf" property="goodsCategoryLeaf"
			jdbcType="CHAR" />
		<result column="goods_brand" property="goodsBrand" jdbcType="CHAR" />
		<result column="goods_serial" property="goodsSerial" jdbcType="CHAR" />
		<result column="item_serial" property="itemSerial" jdbcType="CHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="is_del" property="isDel" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
	</resultMap>

	<!--按位置编号和商品名称模糊查询商品基本信息 -->
	<select id="findShoppingMatchInfo" resultMap="BaseResultMap">
		SELECT
		bi.*
		FROM
		gooagoo_goods.goods_marketing_info g
		INNER JOIN gooagoo_goods.goods_base_info bi ON g.goods_id = bi.goods_id
		WHERE
		g.position_id = #{positionId}
		AND bi.goods_name LIKE CONCAT('%',#{goodsName},'%')
	</select>
</mapper>
