<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.gooagoo.dao.business.marketing.cryout.CryoutInfoAdapterMapper">
	<resultMap id="BaseResultMap"
		type="com.gooagoo.entity.business.marketing.cryout.CryoutInfoAdapter">
		<result column="page_id" property="pageId" jdbcType="VARCHAR" />
		<association property="marketingUserLink" column="id" javaType="com.gooagoo.entity.generator.marketing.MarketingUserLink"  resultMap="marketingUserLinkResultMap"/>  
		<association property="cryoutInfo" column="cryout_info_id" javaType="com.gooagoo.entity.generator.marketing.CryoutInfo"  resultMap="cryoutInfoResultMap"/>  
	</resultMap>
	<resultMap id="marketingUserLinkResultMap" type="com.gooagoo.entity.generator.marketing.MarketingUserLink" >
	    <id column="l_id" property="id" jdbcType="CHAR" />
	    <result column="l_marketing_type" property="marketingType" jdbcType="CHAR" />
	    <result column="l_marketing_id" property="marketingId" jdbcType="CHAR" />
	    <result column="l_shop_id" property="shopId" jdbcType="CHAR" />
	    <result column="l_account_type" property="accountType" jdbcType="CHAR" />
	    <result column="l_account" property="account" jdbcType="CHAR" />
	    <result column="l_activity_id" property="activityId" jdbcType="CHAR" />
	    <result column="l_is_pushed" property="isPushed" jdbcType="CHAR" />
	    <result column="l_push_time" property="pushTime" jdbcType="TIMESTAMP" />
	    <result column="l_is_read" property="isRead" jdbcType="CHAR" />
	    <result column="l_is_del" property="isDel" jdbcType="CHAR" />
	    <result column="l_create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="l_c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  	</resultMap>
  	<resultMap id="cryoutInfoResultMap" type="com.gooagoo.entity.generator.marketing.CryoutInfo" >
	    <id column="i_cryout_info_id" property="cryoutInfoId" jdbcType="CHAR" />
	    <result column="i_shop_id" property="shopId" jdbcType="CHAR" />
	    <result column="i_activity_id" property="activityId" jdbcType="CHAR" />
	    <result column="i_cryout_title" property="cryoutTitle" jdbcType="CHAR" />
	    <result column="i_cryout_type" property="cryoutType" jdbcType="CHAR" />
	    <result column="i_marketing_link_type" property="marketingLinkType" jdbcType="CHAR" />
	    <result column="i_marketing_link_id" property="marketingLinkId" jdbcType="CHAR" />
	    <result column="i_cryout_text_mobile" property="cryoutTextMobile" jdbcType="VARCHAR" />
	    <result column="i_cryout_text_web" property="cryoutTextWeb" jdbcType="VARCHAR" />
	    <result column="i_img" property="img" jdbcType="VARCHAR" />
	    <result column="i_publish_status" property="publishStatus" jdbcType="CHAR" />
	    <result column="i_audit_note" property="auditNote" jdbcType="CHAR" />
	    <result column="i_rule_id" property="ruleId" jdbcType="CHAR" />
	    <result column="i_is_del" property="isDel" jdbcType="CHAR" />
	    <result column="i_create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="i_c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  	</resultMap>

	<select id="pageShopCryoutInfo" resultMap="BaseResultMap">
		<if test="pageType==&quot;P&quot;">
			SELECT * FROM (SELECT * FROM (
		</if>
		SELECT
		CONCAT(
		l.push_time,
		l.id
		) page_id,
		l.id l_id, l.marketing_type l_marketing_type, l.marketing_id l_marketing_id, 
      	l.shop_id l_shop_id, l.account_type l_account_type, l.account l_account, 
      	l.activity_id l_activity_id, l.is_pushed l_is_pushed, l.push_time l_push_time, 
      	l.is_read l_is_read, l.is_del l_is_del, l.create_time l_create_time, 
      	l.c_time_stamp l_c_time_stamp,
		i.cryout_info_id i_cryout_info_id, i.shop_id i_shop_id, i.activity_id i_activity_id, 
      	i.cryout_title i_cryout_title, i.cryout_type i_cryout_type, i.marketing_link_type i_marketing_link_type, 
      	i.marketing_link_id i_marketing_link_id, i.cryout_text_mobile i_cryout_text_mobile, i.cryout_text_web i_cryout_text_web, 
     	i.img i_img, i.publish_status i_publish_status, i.audit_note i_audit_note, 
     	i.rule_id i_rule_id, i.is_del i_is_del, i.create_time i_create_time, 
     	i.c_time_stamp i_c_time_stamp
		FROM
		gooagoo_marketing.marketing_user_link l
		INNER JOIN 
		gooagoo_marketing.cryout_info i
		ON l.marketing_id=i.cryout_info_id
		WHERE
		l.is_pushed='Y'
		AND l.is_del='N'
		AND l.marketing_type='1'
		<if test="cryoutType != null">
			AND i.cryout_type=#{cryoutType}
		</if>
		<if test="pageId != null">
			AND CONCAT(
			l.push_time,
			l.id
			)
			<if test="pageType==&quot;P&quot;">
				>
			</if>
			<if test="pageType==&quot;N&quot;">
				&lt;
			</if>
			 #{pageId}
		</if>
		<if test= "shopIdList != null">
         AND l.shop_id IN 
         	<foreach collection="shopIdList" item="item" open="("  close=")" separator=",">
            	#{item}
            </foreach>
    	</if>
		AND l.account_type='0'
		<if test="userId != null">
			AND l.account=#{userId}
		</if>
		ORDER BY
		CONCAT(
		l.push_time,
		l.id
		) DESC
		<if test="pageType==&quot;P&quot;">
			)x ORDER BY x.page_id ASC
		</if>
		<if test="pageSize !=null">
		limit ${pageSize}
		</if>
		<if test="pageType==&quot;P&quot;">
			)y ORDER BY y.page_id DESC
		</if>
	</select>
	<select id="pageShopCryoutInfoM" resultMap="BaseResultMap">
		SELECT
		CONCAT(
		l.push_time,
		l.id
		) page_id,
		l.id l_id, l.marketing_type l_marketing_type, l.marketing_id l_marketing_id, 
      	l.shop_id l_shop_id, l.account_type l_account_type, l.account l_account, 
      	l.activity_id l_activity_id, l.is_pushed l_is_pushed, l.push_time l_push_time, 
      	l.is_read l_is_read, l.is_del l_is_del, l.create_time l_create_time, 
      	l.c_time_stamp l_c_time_stamp,
		i.cryout_info_id i_cryout_info_id, i.shop_id i_shop_id, i.activity_id i_activity_id, 
      	i.cryout_title i_cryout_title, i.cryout_type i_cryout_type, i.marketing_link_type i_marketing_link_type, 
      	i.marketing_link_id i_marketing_link_id, i.cryout_text_mobile i_cryout_text_mobile, i.cryout_text_web i_cryout_text_web, 
     	i.img i_img, i.publish_status i_publish_status, i.audit_note i_audit_note, 
     	i.rule_id i_rule_id, i.is_del i_is_del, i.create_time i_create_time, 
     	i.c_time_stamp i_c_time_stamp
		FROM
		gooagoo_marketing.marketing_user_link l
		INNER JOIN 
		gooagoo_marketing.cryout_info i
		ON l.marketing_id=i.cryout_info_id
		WHERE
		l.is_pushed='Y'
		AND l.is_del='N'
		AND l.marketing_type='1'
		<if test="cryoutType != null">
			AND i.cryout_type=#{cryoutType}
		</if>
		<if test="pageId != null">
			AND CONCAT(
			l.push_time,
			l.id
			)
			<if test="pageType==&quot;P&quot;">
				>
			</if>
			<if test="pageType==&quot;N&quot;">
				&lt;
			</if>
			 #{pageId}
		</if>
		<if test= "shopIdList != null">
         AND l.shop_id IN 
         	<foreach collection="shopIdList" item="item" open="("  close=")" separator=",">
            	#{item}
            </foreach>
    	</if>
		AND l.account_type='0'
		<if test="userId != null">
			AND l.account=#{userId}
		</if>
		ORDER BY
		CONCAT(
		l.push_time,
		l.id
		) DESC
		<if test="pageSize !=null">
		limit ${pageSize}
		</if>
	</select>
	<select id="countPageShopCryoutInfoForMobile" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		gooagoo_marketing.marketing_user_link l
		INNER JOIN 
		gooagoo_marketing.cryout_info i
		ON l.marketing_id=i.cryout_info_id
		WHERE
		l.is_pushed='Y'
		AND l.is_del='N'
		AND l.marketing_type='1'
		<if test="cryoutType != null">
			AND i.cryout_type=#{cryoutType}
		</if>
		<if test="pageId != null">
			AND CONCAT(
			l.push_time,
			l.id
			)
			<if test="pageType==&quot;P&quot;">
				>
			</if>
			<if test="pageType==&quot;N&quot;">
				&lt;
			</if>
			 #{pageId}
		</if>
		<if test= "shopIdList != null">
         AND l.shop_id IN 
         	<foreach collection="shopIdList" item="item" open="("  close=")" separator=",">
            	#{item}
            </foreach>
    	</if>
		AND l.account_type='0'
		<if test="userId != null">
			AND l.account=#{userId}
		</if>
	</select>
</mapper>
