<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.bill.ShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.bill.ShoppingCart" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="goods_id" property="goodsId" jdbcType="CHAR" />
    <result column="goods_name" property="goodsName" jdbcType="CHAR" />
    <result column="goods_category_root" property="goodsCategoryRoot" jdbcType="CHAR" />
    <result column="goods_category_leaf" property="goodsCategoryLeaf" jdbcType="CHAR" />
    <result column="goods_brand" property="goodsBrand" jdbcType="CHAR" />
    <result column="goods_serial" property="goodsSerial" jdbcType="CHAR" />
    <result column="item_serial" property="itemSerial" jdbcType="CHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="goods_img" property="goodsImg" jdbcType="CHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, user_id, shop_id, 
      shop_entity_id, goods_id, goods_name, 
      goods_category_root, goods_category_leaf, goods_brand, 
      goods_serial, item_serial, price, 
      goods_img, goods_num, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.bill.ShoppingCartExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.bill.ShoppingCartExample" resultType="java.lang.Integer">
    select count(*) from shopping_cart
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.bill.ShoppingCartKey" >
    select 
      id, user_id, shop_id, 
      shop_entity_id, goods_id, goods_name, 
      goods_category_root, goods_category_leaf, goods_brand, 
      goods_serial, item_serial, price, 
      goods_img, goods_num, is_del, 
      create_time, c_time_stamp
    from shopping_cart where id = #{id,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.bill.ShoppingCartExample">
    delete from shopping_cart
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.bill.ShoppingCartKey" >
    delete from shopping_cart where id = #{id,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.bill.ShoppingCart" >
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         id,
      </if>
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "goodsId != null">
         goods_id,
      </if>
      <if test= "goodsName != null">
         goods_name,
      </if>
      <if test= "goodsCategoryRoot != null">
         goods_category_root,
      </if>
      <if test= "goodsCategoryLeaf != null">
         goods_category_leaf,
      </if>
      <if test= "goodsBrand != null">
         goods_brand,
      </if>
      <if test= "goodsSerial != null">
         goods_serial,
      </if>
      <if test= "itemSerial != null">
         item_serial,
      </if>
      <if test= "price != null">
         price,
      </if>
      <if test= "goodsImg != null">
         goods_img,
      </if>
      <if test= "goodsNum != null">
         goods_num,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         #{id,jdbcType=CHAR},
      </if>
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "goodsId != null">
         #{goodsId,jdbcType=CHAR},
      </if>
      <if test= "goodsName != null">
         #{goodsName,jdbcType=CHAR},
      </if>
      <if test= "goodsCategoryRoot != null">
         #{goodsCategoryRoot,jdbcType=CHAR},
      </if>
      <if test= "goodsCategoryLeaf != null">
         #{goodsCategoryLeaf,jdbcType=CHAR},
      </if>
      <if test= "goodsBrand != null">
         #{goodsBrand,jdbcType=CHAR},
      </if>
      <if test= "goodsSerial != null">
         #{goodsSerial,jdbcType=CHAR},
      </if>
      <if test= "itemSerial != null">
         #{itemSerial,jdbcType=CHAR},
      </if>
      <if test= "price != null">
         #{price,jdbcType=DOUBLE},
      </if>
      <if test= "goodsImg != null">
         #{goodsImg,jdbcType=CHAR},
      </if>
      <if test= "goodsNum != null">
         #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update shopping_cart
    <set>
        id = #{record.id,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        goods_id = #{record.goodsId,jdbcType=CHAR},
        goods_name = #{record.goodsName,jdbcType=CHAR},
        goods_category_root = #{record.goodsCategoryRoot,jdbcType=CHAR},
        goods_category_leaf = #{record.goodsCategoryLeaf,jdbcType=CHAR},
        goods_brand = #{record.goodsBrand,jdbcType=CHAR},
        goods_serial = #{record.goodsSerial,jdbcType=CHAR},
        item_serial = #{record.itemSerial,jdbcType=CHAR},
        price = #{record.price,jdbcType=DOUBLE},
        goods_img = #{record.goodsImg,jdbcType=CHAR},
        goods_num = #{record.goodsNum,jdbcType=INTEGER},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update shopping_cart
    <set>
      <if test="record.id !=null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.goodsId !=null">
        goods_id = #{record.goodsId,jdbcType=CHAR},
      </if>
      <if test="record.goodsName !=null">
        goods_name = #{record.goodsName,jdbcType=CHAR},
      </if>
      <if test="record.goodsCategoryRoot !=null">
        goods_category_root = #{record.goodsCategoryRoot,jdbcType=CHAR},
      </if>
      <if test="record.goodsCategoryLeaf !=null">
        goods_category_leaf = #{record.goodsCategoryLeaf,jdbcType=CHAR},
      </if>
      <if test="record.goodsBrand !=null">
        goods_brand = #{record.goodsBrand,jdbcType=CHAR},
      </if>
      <if test="record.goodsSerial !=null">
        goods_serial = #{record.goodsSerial,jdbcType=CHAR},
      </if>
      <if test="record.itemSerial !=null">
        item_serial = #{record.itemSerial,jdbcType=CHAR},
      </if>
      <if test="record.price !=null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsImg !=null">
        goods_img = #{record.goodsImg,jdbcType=CHAR},
      </if>
      <if test="record.goodsNum !=null">
        goods_num = #{record.goodsNum,jdbcType=INTEGER},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.bill.ShoppingCart" >
    update shopping_cart
    <set>
      <if test="id !=null">
      id = #{id,jdbcType=CHAR},
      </if>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="goodsId !=null">
      goods_id = #{goodsId,jdbcType=CHAR},
      </if>
      <if test="goodsName !=null">
      goods_name = #{goodsName,jdbcType=CHAR},
      </if>
      <if test="goodsCategoryRoot !=null">
      goods_category_root = #{goodsCategoryRoot,jdbcType=CHAR},
      </if>
      <if test="goodsCategoryLeaf !=null">
      goods_category_leaf = #{goodsCategoryLeaf,jdbcType=CHAR},
      </if>
      <if test="goodsBrand !=null">
      goods_brand = #{goodsBrand,jdbcType=CHAR},
      </if>
      <if test="goodsSerial !=null">
      goods_serial = #{goodsSerial,jdbcType=CHAR},
      </if>
      <if test="itemSerial !=null">
      item_serial = #{itemSerial,jdbcType=CHAR},
      </if>
      <if test="price !=null">
      price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsImg !=null">
      goods_img = #{goodsImg,jdbcType=CHAR},
      </if>
      <if test="goodsNum !=null">
      goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>
