<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.bill.UserOrderCouponMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.bill.UserOrderCoupon" >
    <id column="user_order_detail_id" property="userOrderDetailId" jdbcType="CHAR" />
    <result column="user_order_id" property="userOrderId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="coupon_user_id" property="couponUserId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="coupon_source" property="couponSource" jdbcType="CHAR" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      user_order_detail_id, user_order_id, shop_id, 
      shop_entity_id, coupon_user_id, user_id, 
      coupon_source
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.bill.UserOrderCouponExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from user_order_coupon
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.bill.UserOrderCouponExample" resultType="java.lang.Integer">
    select count(*) from user_order_coupon
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.bill.UserOrderCouponKey" >
    select 
      user_order_detail_id, user_order_id, shop_id, 
      shop_entity_id, coupon_user_id, user_id, 
      coupon_source
    from user_order_coupon where user_order_detail_id = #{userOrderDetailId,jdbcType=CHAR}
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.bill.UserOrderCouponExample">
    delete from user_order_coupon
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.bill.UserOrderCouponKey" >
    delete from user_order_coupon where user_order_detail_id = #{userOrderDetailId,jdbcType=CHAR}
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.bill.UserOrderCoupon" >
    insert into user_order_coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "userOrderDetailId != null">
         user_order_detail_id,
      </if>
      <if test= "userOrderId != null">
         user_order_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "couponUserId != null">
         coupon_user_id,
      </if>
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "couponSource != null">
         coupon_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "userOrderDetailId != null">
         #{userOrderDetailId,jdbcType=CHAR},
      </if>
      <if test= "userOrderId != null">
         #{userOrderId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "couponUserId != null">
         #{couponUserId,jdbcType=CHAR},
      </if>
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "couponSource != null">
         #{couponSource,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update user_order_coupon
    <set>
        user_order_detail_id = #{record.userOrderDetailId,jdbcType=CHAR},
        user_order_id = #{record.userOrderId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        coupon_user_id = #{record.couponUserId,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=CHAR},
        coupon_source = #{record.couponSource,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update user_order_coupon
    <set>
      <if test="record.userOrderDetailId !=null">
        user_order_detail_id = #{record.userOrderDetailId,jdbcType=CHAR},
      </if>
      <if test="record.userOrderId !=null">
        user_order_id = #{record.userOrderId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.couponUserId !=null">
        coupon_user_id = #{record.couponUserId,jdbcType=CHAR},
      </if>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.couponSource !=null">
        coupon_source = #{record.couponSource,jdbcType=CHAR}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.bill.UserOrderCoupon" >
    update user_order_coupon
    <set>
      <if test="userOrderDetailId !=null">
      user_order_detail_id = #{userOrderDetailId,jdbcType=CHAR},
      </if>
      <if test="userOrderId !=null">
      user_order_id = #{userOrderId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="couponUserId !=null">
      coupon_user_id = #{couponUserId,jdbcType=CHAR},
      </if>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="couponSource !=null">
      coupon_source = #{couponSource,jdbcType=CHAR}
      </if>
    </set>
    where user_order_detail_id = #{userOrderDetailId,jdbcType=CHAR}
  </update>

</mapper>
