<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.MarketingUserLinkMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.MarketingUserLink" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="marketing_type" property="marketingType" jdbcType="CHAR" />
    <result column="marketing_id" property="marketingId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="account_type" property="accountType" jdbcType="CHAR" />
    <result column="account" property="account" jdbcType="CHAR" />
    <result column="activity_id" property="activityId" jdbcType="CHAR" />
    <result column="is_pushed" property="isPushed" jdbcType="CHAR" />
    <result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
    <result column="is_read" property="isRead" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, marketing_type, marketing_id, 
      shop_id, account_type, account, 
      activity_id, is_pushed, push_time, 
      is_read, is_del, create_time, 
      c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLinkExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from marketing_user_link
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLinkExample" resultType="java.lang.Integer">
    select count(*) from marketing_user_link
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLinkKey" >
    select 
      id, marketing_type, marketing_id, 
      shop_id, account_type, account, 
      activity_id, is_pushed, push_time, 
      is_read, is_del, create_time, 
      c_time_stamp
    from marketing_user_link where id = #{id,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLinkExample">
    delete from marketing_user_link
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLinkKey" >
    delete from marketing_user_link where id = #{id,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLink" >
    insert into marketing_user_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         id,
      </if>
      <if test= "marketingType != null">
         marketing_type,
      </if>
      <if test= "marketingId != null">
         marketing_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "accountType != null">
         account_type,
      </if>
      <if test= "account != null">
         account,
      </if>
      <if test= "activityId != null">
         activity_id,
      </if>
      <if test= "isPushed != null">
         is_pushed,
      </if>
      <if test= "pushTime != null">
         push_time,
      </if>
      <if test= "isRead != null">
         is_read,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         #{id,jdbcType=CHAR},
      </if>
      <if test= "marketingType != null">
         #{marketingType,jdbcType=CHAR},
      </if>
      <if test= "marketingId != null">
         #{marketingId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "accountType != null">
         #{accountType,jdbcType=CHAR},
      </if>
      <if test= "account != null">
         #{account,jdbcType=CHAR},
      </if>
      <if test= "activityId != null">
         #{activityId,jdbcType=CHAR},
      </if>
      <if test= "isPushed != null">
         #{isPushed,jdbcType=CHAR},
      </if>
      <if test= "pushTime != null">
         #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "isRead != null">
         #{isRead,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update marketing_user_link
    <set>
        id = #{record.id,jdbcType=CHAR},
        marketing_type = #{record.marketingType,jdbcType=CHAR},
        marketing_id = #{record.marketingId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        account_type = #{record.accountType,jdbcType=CHAR},
        account = #{record.account,jdbcType=CHAR},
        activity_id = #{record.activityId,jdbcType=CHAR},
        is_pushed = #{record.isPushed,jdbcType=CHAR},
        push_time = #{record.pushTime,jdbcType=TIMESTAMP},
        is_read = #{record.isRead,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update marketing_user_link
    <set>
      <if test="record.id !=null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.marketingType !=null">
        marketing_type = #{record.marketingType,jdbcType=CHAR},
      </if>
      <if test="record.marketingId !=null">
        marketing_id = #{record.marketingId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.accountType !=null">
        account_type = #{record.accountType,jdbcType=CHAR},
      </if>
      <if test="record.account !=null">
        account = #{record.account,jdbcType=CHAR},
      </if>
      <if test="record.activityId !=null">
        activity_id = #{record.activityId,jdbcType=CHAR},
      </if>
      <if test="record.isPushed !=null">
        is_pushed = #{record.isPushed,jdbcType=CHAR},
      </if>
      <if test="record.pushTime !=null">
        push_time = #{record.pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRead !=null">
        is_read = #{record.isRead,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.MarketingUserLink" >
    update marketing_user_link
    <set>
      <if test="id !=null">
      id = #{id,jdbcType=CHAR},
      </if>
      <if test="marketingType !=null">
      marketing_type = #{marketingType,jdbcType=CHAR},
      </if>
      <if test="marketingId !=null">
      marketing_id = #{marketingId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="accountType !=null">
      account_type = #{accountType,jdbcType=CHAR},
      </if>
      <if test="account !=null">
      account = #{account,jdbcType=CHAR},
      </if>
      <if test="activityId !=null">
      activity_id = #{activityId,jdbcType=CHAR},
      </if>
      <if test="isPushed !=null">
      is_pushed = #{isPushed,jdbcType=CHAR},
      </if>
      <if test="pushTime !=null">
      push_time = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRead !=null">
      is_read = #{isRead,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>
