<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.ShopIntegralMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.ShopIntegral" >
    <id column="shop_integral_id" property="shopIntegralId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="integral_trade_type" property="integralTradeType" jdbcType="CHAR" />
    <result column="integral_trade_id" property="integralTradeId" jdbcType="CHAR" />
    <result column="trade_integral_value" property="tradeIntegralValue" jdbcType="INTEGER" />
    <result column="trade_start_time" property="tradeStartTime" jdbcType="TIMESTAMP" />
    <result column="trade_end_time" property="tradeEndTime" jdbcType="TIMESTAMP" />
    <result column="convert_nums" property="convertNums" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      shop_integral_id, shop_id, integral_trade_type, 
      integral_trade_id, trade_integral_value, trade_start_time, 
      trade_end_time, convert_nums, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from shop_integral
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralExample" resultType="java.lang.Integer">
    select count(*) from shop_integral
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralKey" >
    select 
      shop_integral_id, shop_id, integral_trade_type, 
      integral_trade_id, trade_integral_value, trade_start_time, 
      trade_end_time, convert_nums, is_del, 
      create_time, c_time_stamp
    from shop_integral where shop_integral_id = #{shopIntegralId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralExample">
    delete from shop_integral
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegralKey" >
    delete from shop_integral where shop_integral_id = #{shopIntegralId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegral" >
    insert into shop_integral
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "shopIntegralId != null">
         shop_integral_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "integralTradeType != null">
         integral_trade_type,
      </if>
      <if test= "integralTradeId != null">
         integral_trade_id,
      </if>
      <if test= "tradeIntegralValue != null">
         trade_integral_value,
      </if>
      <if test= "tradeStartTime != null">
         trade_start_time,
      </if>
      <if test= "tradeEndTime != null">
         trade_end_time,
      </if>
      <if test= "convertNums != null">
         convert_nums,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "shopIntegralId != null">
         #{shopIntegralId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "integralTradeType != null">
         #{integralTradeType,jdbcType=CHAR},
      </if>
      <if test= "integralTradeId != null">
         #{integralTradeId,jdbcType=CHAR},
      </if>
      <if test= "tradeIntegralValue != null">
         #{tradeIntegralValue,jdbcType=INTEGER},
      </if>
      <if test= "tradeStartTime != null">
         #{tradeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "tradeEndTime != null">
         #{tradeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "convertNums != null">
         #{convertNums,jdbcType=INTEGER},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update shop_integral
    <set>
        shop_integral_id = #{record.shopIntegralId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        integral_trade_type = #{record.integralTradeType,jdbcType=CHAR},
        integral_trade_id = #{record.integralTradeId,jdbcType=CHAR},
        trade_integral_value = #{record.tradeIntegralValue,jdbcType=INTEGER},
        trade_start_time = #{record.tradeStartTime,jdbcType=TIMESTAMP},
        trade_end_time = #{record.tradeEndTime,jdbcType=TIMESTAMP},
        convert_nums = #{record.convertNums,jdbcType=INTEGER},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update shop_integral
    <set>
      <if test="record.shopIntegralId !=null">
        shop_integral_id = #{record.shopIntegralId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.integralTradeType !=null">
        integral_trade_type = #{record.integralTradeType,jdbcType=CHAR},
      </if>
      <if test="record.integralTradeId !=null">
        integral_trade_id = #{record.integralTradeId,jdbcType=CHAR},
      </if>
      <if test="record.tradeIntegralValue !=null">
        trade_integral_value = #{record.tradeIntegralValue,jdbcType=INTEGER},
      </if>
      <if test="record.tradeStartTime !=null">
        trade_start_time = #{record.tradeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tradeEndTime !=null">
        trade_end_time = #{record.tradeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.convertNums !=null">
        convert_nums = #{record.convertNums,jdbcType=INTEGER},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.ShopIntegral" >
    update shop_integral
    <set>
      <if test="shopIntegralId !=null">
      shop_integral_id = #{shopIntegralId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="integralTradeType !=null">
      integral_trade_type = #{integralTradeType,jdbcType=CHAR},
      </if>
      <if test="integralTradeId !=null">
      integral_trade_id = #{integralTradeId,jdbcType=CHAR},
      </if>
      <if test="tradeIntegralValue !=null">
      trade_integral_value = #{tradeIntegralValue,jdbcType=INTEGER},
      </if>
      <if test="tradeStartTime !=null">
      trade_start_time = #{tradeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeEndTime !=null">
      trade_end_time = #{tradeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="convertNums !=null">
      convert_nums = #{convertNums,jdbcType=INTEGER},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where shop_integral_id = #{shopIntegralId,jdbcType=CHAR}
  </update>

</mapper>
