<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.member.ConvertApplyMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.member.ConvertApply" >
    <id column="application_id" property="applicationId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="phy_no" property="phyNo" jdbcType="CHAR" />
    <result column="id_no" property="idNo" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      application_id, shop_id, user_id, 
      apply_time, phy_no, id_no, 
      mobile, status, audit_note, 
      source, is_del, create_time, 
      c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.member.ConvertApplyExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from convert_apply
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.member.ConvertApplyExample" resultType="java.lang.Integer">
    select count(*) from convert_apply
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.member.ConvertApplyKey" >
    select 
      application_id, shop_id, user_id, 
      apply_time, phy_no, id_no, 
      mobile, status, audit_note, 
      source, is_del, create_time, 
      c_time_stamp
    from convert_apply where application_id = #{applicationId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.member.ConvertApplyExample">
    delete from convert_apply
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.member.ConvertApplyKey" >
    delete from convert_apply where application_id = #{applicationId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.member.ConvertApply" >
    insert into convert_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "applicationId != null">
         application_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "applyTime != null">
         apply_time,
      </if>
      <if test= "phyNo != null">
         phy_no,
      </if>
      <if test= "idNo != null">
         id_no,
      </if>
      <if test= "mobile != null">
         mobile,
      </if>
      <if test= "status != null">
         status,
      </if>
      <if test= "auditNote != null">
         audit_note,
      </if>
      <if test= "source != null">
         source,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "applicationId != null">
         #{applicationId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "applyTime != null">
         #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "phyNo != null">
         #{phyNo,jdbcType=CHAR},
      </if>
      <if test= "idNo != null">
         #{idNo,jdbcType=CHAR},
      </if>
      <if test= "mobile != null">
         #{mobile,jdbcType=CHAR},
      </if>
      <if test= "status != null">
         #{status,jdbcType=CHAR},
      </if>
      <if test= "auditNote != null">
         #{auditNote,jdbcType=CHAR},
      </if>
      <if test= "source != null">
         #{source,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update convert_apply
    <set>
        application_id = #{record.applicationId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=CHAR},
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
        phy_no = #{record.phyNo,jdbcType=CHAR},
        id_no = #{record.idNo,jdbcType=CHAR},
        mobile = #{record.mobile,jdbcType=CHAR},
        status = #{record.status,jdbcType=CHAR},
        audit_note = #{record.auditNote,jdbcType=CHAR},
        source = #{record.source,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update convert_apply
    <set>
      <if test="record.applicationId !=null">
        application_id = #{record.applicationId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.applyTime !=null">
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phyNo !=null">
        phy_no = #{record.phyNo,jdbcType=CHAR},
      </if>
      <if test="record.idNo !=null">
        id_no = #{record.idNo,jdbcType=CHAR},
      </if>
      <if test="record.mobile !=null">
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.status !=null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.auditNote !=null">
        audit_note = #{record.auditNote,jdbcType=CHAR},
      </if>
      <if test="record.source !=null">
        source = #{record.source,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.member.ConvertApply" >
    update convert_apply
    <set>
      <if test="applicationId !=null">
      application_id = #{applicationId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="applyTime !=null">
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phyNo !=null">
      phy_no = #{phyNo,jdbcType=CHAR},
      </if>
      <if test="idNo !=null">
      id_no = #{idNo,jdbcType=CHAR},
      </if>
      <if test="mobile !=null">
      mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="status !=null">
      status = #{status,jdbcType=CHAR},
      </if>
      <if test="auditNote !=null">
      audit_note = #{auditNote,jdbcType=CHAR},
      </if>
      <if test="source !=null">
      source = #{source,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where application_id = #{applicationId,jdbcType=CHAR}
  </update>

</mapper>
