<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.shop.ShopLidDetailMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.shop.ShopLidDetail" >
    <id column="lid" property="lid" jdbcType="CHAR" />
    <result column="lid_base" property="lidBase" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="position_id" property="positionId" jdbcType="CHAR" />
    <result column="position_name" property="positionName" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="px" property="px" jdbcType="DOUBLE" />
    <result column="py" property="py" jdbcType="DOUBLE" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim  prefixOverrides="and" prefix="(" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="("  close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      lid, lid_base, shop_id, 
      shop_entity_id, position_id, position_name, 
      status, px, py, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.shop.ShopLidDetailExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from shop_lid_detail
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.shop.ShopLidDetailExample" resultType="java.lang.Integer">
    select count(*) from shop_lid_detail
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.shop.ShopLidDetailKey" >
    select 
      lid, lid_base, shop_id, 
      shop_entity_id, position_id, position_name, 
      status, px, py, 
      is_del, create_time, c_time_stamp
    from shop_lid_detail where lid = #{lid,jdbcType=CHAR}
    <if test= "isDel != null">
         and is_del=#{isDel}
    </if>
  </select>

</mapper>
