<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.shop.SectionLineInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.shop.SectionLineInfo" >
    <id column="line_id" property="lineId" jdbcType="CHAR" />
    <result column="map_id" property="mapId" jdbcType="CHAR" />
    <result column="svg_tag_code" property="svgTagCode" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="length" property="length" jdbcType="DOUBLE" />
    <result column="first_point_x" property="firstPointX" jdbcType="DOUBLE" />
    <result column="first_point_y" property="firstPointY" jdbcType="DOUBLE" />
    <result column="second_point_x" property="secondPointX" jdbcType="DOUBLE" />
    <result column="second_point_y" property="secondPointY" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      line_id, map_id, svg_tag_code, 
      weight, length, first_point_x, 
      first_point_y, second_point_x, second_point_y, 
      create_time
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from section_line_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfoExample" resultType="java.lang.Integer">
    select count(*) from section_line_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfoKey" >
    select 
      line_id, map_id, svg_tag_code, 
      weight, length, first_point_x, 
      first_point_y, second_point_x, second_point_y, 
      create_time
    from section_line_info where line_id = #{lineId,jdbcType=CHAR}
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfoExample">
    delete from section_line_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfoKey" >
    delete from section_line_info where line_id = #{lineId,jdbcType=CHAR}
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfo" >
    insert into section_line_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "lineId != null">
         line_id,
      </if>
      <if test= "mapId != null">
         map_id,
      </if>
      <if test= "svgTagCode != null">
         svg_tag_code,
      </if>
      <if test= "weight != null">
         weight,
      </if>
      <if test= "length != null">
         length,
      </if>
      <if test= "firstPointX != null">
         first_point_x,
      </if>
      <if test= "firstPointY != null">
         first_point_y,
      </if>
      <if test= "secondPointX != null">
         second_point_x,
      </if>
      <if test= "secondPointY != null">
         second_point_y,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "lineId != null">
         #{lineId,jdbcType=CHAR},
      </if>
      <if test= "mapId != null">
         #{mapId,jdbcType=CHAR},
      </if>
      <if test= "svgTagCode != null">
         #{svgTagCode,jdbcType=VARCHAR},
      </if>
      <if test= "weight != null">
         #{weight,jdbcType=INTEGER},
      </if>
      <if test= "length != null">
         #{length,jdbcType=DOUBLE},
      </if>
      <if test= "firstPointX != null">
         #{firstPointX,jdbcType=DOUBLE},
      </if>
      <if test= "firstPointY != null">
         #{firstPointY,jdbcType=DOUBLE},
      </if>
      <if test= "secondPointX != null">
         #{secondPointX,jdbcType=DOUBLE},
      </if>
      <if test= "secondPointY != null">
         #{secondPointY,jdbcType=DOUBLE},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update section_line_info
    <set>
        line_id = #{record.lineId,jdbcType=CHAR},
        map_id = #{record.mapId,jdbcType=CHAR},
        svg_tag_code = #{record.svgTagCode,jdbcType=VARCHAR},
        weight = #{record.weight,jdbcType=INTEGER},
        length = #{record.length,jdbcType=DOUBLE},
        first_point_x = #{record.firstPointX,jdbcType=DOUBLE},
        first_point_y = #{record.firstPointY,jdbcType=DOUBLE},
        second_point_x = #{record.secondPointX,jdbcType=DOUBLE},
        second_point_y = #{record.secondPointY,jdbcType=DOUBLE}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update section_line_info
    <set>
      <if test="record.lineId !=null">
        line_id = #{record.lineId,jdbcType=CHAR},
      </if>
      <if test="record.mapId !=null">
        map_id = #{record.mapId,jdbcType=CHAR},
      </if>
      <if test="record.svgTagCode !=null">
        svg_tag_code = #{record.svgTagCode,jdbcType=VARCHAR},
      </if>
      <if test="record.weight !=null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.length !=null">
        length = #{record.length,jdbcType=DOUBLE},
      </if>
      <if test="record.firstPointX !=null">
        first_point_x = #{record.firstPointX,jdbcType=DOUBLE},
      </if>
      <if test="record.firstPointY !=null">
        first_point_y = #{record.firstPointY,jdbcType=DOUBLE},
      </if>
      <if test="record.secondPointX !=null">
        second_point_x = #{record.secondPointX,jdbcType=DOUBLE},
      </if>
      <if test="record.secondPointY !=null">
        second_point_y = #{record.secondPointY,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.shop.SectionLineInfo" >
    update section_line_info
    <set>
      <if test="lineId !=null">
      line_id = #{lineId,jdbcType=CHAR},
      </if>
      <if test="mapId !=null">
      map_id = #{mapId,jdbcType=CHAR},
      </if>
      <if test="svgTagCode !=null">
      svg_tag_code = #{svgTagCode,jdbcType=VARCHAR},
      </if>
      <if test="weight !=null">
      weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="length !=null">
      length = #{length,jdbcType=DOUBLE},
      </if>
      <if test="firstPointX !=null">
      first_point_x = #{firstPointX,jdbcType=DOUBLE},
      </if>
      <if test="firstPointY !=null">
      first_point_y = #{firstPointY,jdbcType=DOUBLE},
      </if>
      <if test="secondPointX !=null">
      second_point_x = #{secondPointX,jdbcType=DOUBLE},
      </if>
      <if test="secondPointY !=null">
      second_point_y = #{secondPointY,jdbcType=DOUBLE},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where line_id = #{lineId,jdbcType=CHAR}
  </update>

</mapper>
