<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="dao/business/marketing/cryout/CryoutInfoAdapter-Mapper.xml"/> 
	<mapper resource="dao/business/marketing/activity/MarketingActivityAdapter-Mapper.xml"/>
	<mapper resource="dao/business/marketing/rule/RuleResultAdapter-Mapper.xml"/>
	<mapper resource="dao/business/marketing/notice/MarketingNoticeAdapter-Mapper.xml"/>
  </mappers>
</configuration>
