<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.shop.DeviceWifisensorMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.shop.DeviceWifisensor" >
    <id column="device_wifisensor_id" property="deviceWifisensorId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="device_mac" property="deviceMac" jdbcType="CHAR" />
    <result column="device_type" property="deviceType" jdbcType="CHAR" />
    <result column="device_sn" property="deviceSn" jdbcType="CHAR" />
    <result column="install_date" property="installDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="position_id" property="positionId" jdbcType="CHAR" />
    <result column="position_name" property="positionName" jdbcType="CHAR" />
    <result column="note" property="note" jdbcType="CHAR" />
    <result column="px" property="px" jdbcType="DOUBLE" />
    <result column="py" property="py" jdbcType="DOUBLE" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      device_wifisensor_id, shop_id, shop_entity_id, 
      device_mac, device_type, device_sn, 
      install_date, status, position_id, 
      position_name, note, px, 
      py, is_del, create_time, 
      c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensorExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from device_wifisensor
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensorExample" resultType="java.lang.Integer">
    select count(*) from device_wifisensor
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensorKey" >
    select 
      device_wifisensor_id, shop_id, shop_entity_id, 
      device_mac, device_type, device_sn, 
      install_date, status, position_id, 
      position_name, note, px, 
      py, is_del, create_time, 
      c_time_stamp
    from device_wifisensor where device_wifisensor_id = #{deviceWifisensorId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensorExample">
    delete from device_wifisensor
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensorKey" >
    delete from device_wifisensor where device_wifisensor_id = #{deviceWifisensorId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensor" >
    insert into device_wifisensor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "deviceWifisensorId != null">
         device_wifisensor_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "deviceMac != null">
         device_mac,
      </if>
      <if test= "deviceType != null">
         device_type,
      </if>
      <if test= "deviceSn != null">
         device_sn,
      </if>
      <if test= "installDate != null">
         install_date,
      </if>
      <if test= "status != null">
         status,
      </if>
      <if test= "positionId != null">
         position_id,
      </if>
      <if test= "positionName != null">
         position_name,
      </if>
      <if test= "note != null">
         note,
      </if>
      <if test= "px != null">
         px,
      </if>
      <if test= "py != null">
         py,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "deviceWifisensorId != null">
         #{deviceWifisensorId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "deviceMac != null">
         #{deviceMac,jdbcType=CHAR},
      </if>
      <if test= "deviceType != null">
         #{deviceType,jdbcType=CHAR},
      </if>
      <if test= "deviceSn != null">
         #{deviceSn,jdbcType=CHAR},
      </if>
      <if test= "installDate != null">
         #{installDate,jdbcType=TIMESTAMP},
      </if>
      <if test= "status != null">
         #{status,jdbcType=CHAR},
      </if>
      <if test= "positionId != null">
         #{positionId,jdbcType=CHAR},
      </if>
      <if test= "positionName != null">
         #{positionName,jdbcType=CHAR},
      </if>
      <if test= "note != null">
         #{note,jdbcType=CHAR},
      </if>
      <if test= "px != null">
         #{px,jdbcType=DOUBLE},
      </if>
      <if test= "py != null">
         #{py,jdbcType=DOUBLE},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update device_wifisensor
    <set>
        device_wifisensor_id = #{record.deviceWifisensorId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        device_mac = #{record.deviceMac,jdbcType=CHAR},
        device_type = #{record.deviceType,jdbcType=CHAR},
        device_sn = #{record.deviceSn,jdbcType=CHAR},
        install_date = #{record.installDate,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=CHAR},
        position_id = #{record.positionId,jdbcType=CHAR},
        position_name = #{record.positionName,jdbcType=CHAR},
        note = #{record.note,jdbcType=CHAR},
        px = #{record.px,jdbcType=DOUBLE},
        py = #{record.py,jdbcType=DOUBLE},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update device_wifisensor
    <set>
      <if test="record.deviceWifisensorId !=null">
        device_wifisensor_id = #{record.deviceWifisensorId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.deviceMac !=null">
        device_mac = #{record.deviceMac,jdbcType=CHAR},
      </if>
      <if test="record.deviceType !=null">
        device_type = #{record.deviceType,jdbcType=CHAR},
      </if>
      <if test="record.deviceSn !=null">
        device_sn = #{record.deviceSn,jdbcType=CHAR},
      </if>
      <if test="record.installDate !=null">
        install_date = #{record.installDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status !=null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.positionId !=null">
        position_id = #{record.positionId,jdbcType=CHAR},
      </if>
      <if test="record.positionName !=null">
        position_name = #{record.positionName,jdbcType=CHAR},
      </if>
      <if test="record.note !=null">
        note = #{record.note,jdbcType=CHAR},
      </if>
      <if test="record.px !=null">
        px = #{record.px,jdbcType=DOUBLE},
      </if>
      <if test="record.py !=null">
        py = #{record.py,jdbcType=DOUBLE},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.shop.DeviceWifisensor" >
    update device_wifisensor
    <set>
      <if test="deviceWifisensorId !=null">
      device_wifisensor_id = #{deviceWifisensorId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="deviceMac !=null">
      device_mac = #{deviceMac,jdbcType=CHAR},
      </if>
      <if test="deviceType !=null">
      device_type = #{deviceType,jdbcType=CHAR},
      </if>
      <if test="deviceSn !=null">
      device_sn = #{deviceSn,jdbcType=CHAR},
      </if>
      <if test="installDate !=null">
      install_date = #{installDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status !=null">
      status = #{status,jdbcType=CHAR},
      </if>
      <if test="positionId !=null">
      position_id = #{positionId,jdbcType=CHAR},
      </if>
      <if test="positionName !=null">
      position_name = #{positionName,jdbcType=CHAR},
      </if>
      <if test="note !=null">
      note = #{note,jdbcType=CHAR},
      </if>
      <if test="px !=null">
      px = #{px,jdbcType=DOUBLE},
      </if>
      <if test="py !=null">
      py = #{py,jdbcType=DOUBLE},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where device_wifisensor_id = #{deviceWifisensorId,jdbcType=CHAR}
  </update>

</mapper>
