@charset "utf-8";
/* CSS Document
gooagoo-sysmng 基础样式
Gzb 2012.09.11
 */
 * {
	margin:0;
	padding:0;

} 

 
html, body {
	color:#000;
	background:#fff;
	padding:0;
	position:relative;
	font-family:"宋体", Arial,Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:120%;
}
input,select{vertical-align:middle}

/*图片边框 为0 */
img {
    border: 0;
}

/*input 输入框*/

.input_text{
	border: 1px solid #999;
	font-size: 14px;
	height: 16pt;
	padding: 4px;
}
.input_text_12_1{
	border: 1px solid #999;
	font-size: 14px;
	height: 12.1pt;
	padding: 4px;
}

/*A link 样式*/

a{text-decoration:none;}
a:link{color:#1E50A2;}
a:visited{color:#1E50A2}
a:hover{color:#c9171e;text-decoration:underline}
a:active,a:focus{color:#1e50a2;}	

/*table 常规样式*/

#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}

#lefttable {
	width: 400px;
	padding: 0;
	margin: 0;
}



#righttable {
	width: 800px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;

	text-align: left;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	color: #4f6b72;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #6666FF;
	border-right-color: #6666FF;
	border-bottom-color: #6666FF;
}


th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}


th.spec {
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-top-width: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FF9900;
}



th.specalt {
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	border-top-width: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #009900;
}

/*button 图片背景按钮*/

.f_n_btn{
	padding-left:4px;
	display:inline-block;
	background-image: url(../images/button_1.png);
	background-repeat: no-repeat;
	background-position:0px 0px;
}
.n_btn{
	border:none;
	height:29px;
	background:url(../images/button_1.png) no-repeat;
	color:#333;
	font-size:14px;
	cursor:pointer;
	display:inline-block;
	line-height:29px;
	color:#000;
	text-decroration:none;
	padding-right:10px;
	padding-left:6px;
	overflow:visible;
	background-position:right 0px;
}

.n_btn:link{color:#000;}
.n_btn:visited{color:#000;}
.n_btn:hover{color:#000;text-decoration:none;}
.w_50{width:50px;}
/*表示宽度为85*/
.w_85{width:85px;}
.w_90{width:90px;}
.w_100{width:100px;}
.w_120{width:120px;}
.w_150{width:150px;}
.w_300{
}
.w_600{width:600px;}


.header{
	width:990px;
	height:70px;
	margin:0 auto;
	background-color: #CCC;
}

/*头部 logo*/
.logo{
	margin-top:10px;
	margin-left:10px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 350px;
	position: absolute;

}
/*头部:登录用户的信息*/
.user_info{
	margin-top:40px;
	margin-right:20px;
	padding-top:5px;
	height: 20px;
	width: 550px;
	float:right;
	text-align:right;
}

/*页面尾部*/

.foot{
	width:990px;
	height:30px;
	margin:0 auto;
	background-color: #CCC;
}
.foot_copyright
{
	padding:5px;
	margin:auto;
	text-align:center;
}