<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="dao/generator/base/EmailConfig-Mapper.xml" /> 
    <mapper resource="dao/generator/base/MarketingChannel-Mapper.xml" /> 
    <mapper resource="dao/generator/base/PromptingMessage-Mapper.xml" /> 
    <mapper resource="dao/generator/base/QualitySquareGoodsType-Mapper.xml" /> 
    <mapper resource="dao/generator/base/ShopInterfaceName-Mapper.xml" /> 
    <mapper resource="dao/generator/base/ShopToolInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/base/ShopType-Mapper.xml" /> 
    <mapper resource="dao/generator/base/ShoppingListGoodsType-Mapper.xml" /> 
    <mapper resource="dao/generator/base/SysConfig-Mapper.xml" /> 
    <mapper resource="dao/generator/base/SysDictionary-Mapper.xml" /> 
    <mapper resource="dao/generator/base/UserCityarea-Mapper.xml" /> 
  </mappers>
</configuration>
