<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.sys.CmsContentMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.sys.CmsContent" >
    <id column="cms_content_id" property="cmsContentId" jdbcType="CHAR" />
    <result column="cms_content_type" property="cmsContentType" jdbcType="CHAR" />
    <result column="parent_cms_content_id" property="parentCmsContentId" jdbcType="CHAR" />
    <result column="channel_type" property="channelType" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="cms_content_name" property="cmsContentName" jdbcType="CHAR" />
    <result column="cms_content_img" property="cmsContentImg" jdbcType="CHAR" />
    <result column="cms_content_des" property="cmsContentDes" jdbcType="CHAR" />
    <result column="cms_content_url" property="cmsContentUrl" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="CHAR" />
    <result column="template_data" property="templateData" jdbcType="VARCHAR" />
    <result column="is_top" property="isTop" jdbcType="CHAR" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      cms_content_id, cms_content_type, parent_cms_content_id, 
      channel_type, shop_id, cms_content_name, 
      cms_content_img, cms_content_des, cms_content_url, 
      template_id, template_data, is_top, 
      order_no, publish_status, audit_note, 
      publish_time, is_del, create_time, 
      c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.sys.CmsContentExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from cms_content
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.sys.CmsContentExample" resultType="java.lang.Integer">
    select count(*) from cms_content
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.sys.CmsContentKey" >
    select 
      cms_content_id, cms_content_type, parent_cms_content_id, 
      channel_type, shop_id, cms_content_name, 
      cms_content_img, cms_content_des, cms_content_url, 
      template_id, template_data, is_top, 
      order_no, publish_status, audit_note, 
      publish_time, is_del, create_time, 
      c_time_stamp
    from cms_content where cms_content_id = #{cmsContentId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.sys.CmsContentExample">
    delete from cms_content
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.sys.CmsContentKey" >
    delete from cms_content where cms_content_id = #{cmsContentId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.sys.CmsContent" >
    insert into cms_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "cmsContentId != null">
         cms_content_id,
      </if>
      <if test= "cmsContentType != null">
         cms_content_type,
      </if>
      <if test= "parentCmsContentId != null">
         parent_cms_content_id,
      </if>
      <if test= "channelType != null">
         channel_type,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "cmsContentName != null">
         cms_content_name,
      </if>
      <if test= "cmsContentImg != null">
         cms_content_img,
      </if>
      <if test= "cmsContentDes != null">
         cms_content_des,
      </if>
      <if test= "cmsContentUrl != null">
         cms_content_url,
      </if>
      <if test= "templateId != null">
         template_id,
      </if>
      <if test= "templateData != null">
         template_data,
      </if>
      <if test= "isTop != null">
         is_top,
      </if>
      <if test= "orderNo != null">
         order_no,
      </if>
      <if test= "publishStatus != null">
         publish_status,
      </if>
      <if test= "auditNote != null">
         audit_note,
      </if>
      <if test= "publishTime != null">
         publish_time,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "cmsContentId != null">
         #{cmsContentId,jdbcType=CHAR},
      </if>
      <if test= "cmsContentType != null">
         #{cmsContentType,jdbcType=CHAR},
      </if>
      <if test= "parentCmsContentId != null">
         #{parentCmsContentId,jdbcType=CHAR},
      </if>
      <if test= "channelType != null">
         #{channelType,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "cmsContentName != null">
         #{cmsContentName,jdbcType=CHAR},
      </if>
      <if test= "cmsContentImg != null">
         #{cmsContentImg,jdbcType=CHAR},
      </if>
      <if test= "cmsContentDes != null">
         #{cmsContentDes,jdbcType=CHAR},
      </if>
      <if test= "cmsContentUrl != null">
         #{cmsContentUrl,jdbcType=VARCHAR},
      </if>
      <if test= "templateId != null">
         #{templateId,jdbcType=CHAR},
      </if>
      <if test= "templateData != null">
         #{templateData,jdbcType=VARCHAR},
      </if>
      <if test= "isTop != null">
         #{isTop,jdbcType=CHAR},
      </if>
      <if test= "orderNo != null">
         #{orderNo,jdbcType=INTEGER},
      </if>
      <if test= "publishStatus != null">
         #{publishStatus,jdbcType=CHAR},
      </if>
      <if test= "auditNote != null">
         #{auditNote,jdbcType=CHAR},
      </if>
      <if test= "publishTime != null">
         #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update cms_content
    <set>
        cms_content_id = #{record.cmsContentId,jdbcType=CHAR},
        cms_content_type = #{record.cmsContentType,jdbcType=CHAR},
        parent_cms_content_id = #{record.parentCmsContentId,jdbcType=CHAR},
        channel_type = #{record.channelType,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        cms_content_name = #{record.cmsContentName,jdbcType=CHAR},
        cms_content_img = #{record.cmsContentImg,jdbcType=CHAR},
        cms_content_des = #{record.cmsContentDes,jdbcType=CHAR},
        cms_content_url = #{record.cmsContentUrl,jdbcType=VARCHAR},
        template_id = #{record.templateId,jdbcType=CHAR},
        template_data = #{record.templateData,jdbcType=VARCHAR},
        is_top = #{record.isTop,jdbcType=CHAR},
        order_no = #{record.orderNo,jdbcType=INTEGER},
        publish_status = #{record.publishStatus,jdbcType=CHAR},
        audit_note = #{record.auditNote,jdbcType=CHAR},
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update cms_content
    <set>
      <if test="record.cmsContentId !=null">
        cms_content_id = #{record.cmsContentId,jdbcType=CHAR},
      </if>
      <if test="record.cmsContentType !=null">
        cms_content_type = #{record.cmsContentType,jdbcType=CHAR},
      </if>
      <if test="record.parentCmsContentId !=null">
        parent_cms_content_id = #{record.parentCmsContentId,jdbcType=CHAR},
      </if>
      <if test="record.channelType !=null">
        channel_type = #{record.channelType,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.cmsContentName !=null">
        cms_content_name = #{record.cmsContentName,jdbcType=CHAR},
      </if>
      <if test="record.cmsContentImg !=null">
        cms_content_img = #{record.cmsContentImg,jdbcType=CHAR},
      </if>
      <if test="record.cmsContentDes !=null">
        cms_content_des = #{record.cmsContentDes,jdbcType=CHAR},
      </if>
      <if test="record.cmsContentUrl !=null">
        cms_content_url = #{record.cmsContentUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId !=null">
        template_id = #{record.templateId,jdbcType=CHAR},
      </if>
      <if test="record.templateData !=null">
        template_data = #{record.templateData,jdbcType=VARCHAR},
      </if>
      <if test="record.isTop !=null">
        is_top = #{record.isTop,jdbcType=CHAR},
      </if>
      <if test="record.orderNo !=null">
        order_no = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.publishStatus !=null">
        publish_status = #{record.publishStatus,jdbcType=CHAR},
      </if>
      <if test="record.auditNote !=null">
        audit_note = #{record.auditNote,jdbcType=CHAR},
      </if>
      <if test="record.publishTime !=null">
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.sys.CmsContent" >
    update cms_content
    <set>
      <if test="cmsContentId !=null">
      cms_content_id = #{cmsContentId,jdbcType=CHAR},
      </if>
      <if test="cmsContentType !=null">
      cms_content_type = #{cmsContentType,jdbcType=CHAR},
      </if>
      <if test="parentCmsContentId !=null">
      parent_cms_content_id = #{parentCmsContentId,jdbcType=CHAR},
      </if>
      <if test="channelType !=null">
      channel_type = #{channelType,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="cmsContentName !=null">
      cms_content_name = #{cmsContentName,jdbcType=CHAR},
      </if>
      <if test="cmsContentImg !=null">
      cms_content_img = #{cmsContentImg,jdbcType=CHAR},
      </if>
      <if test="cmsContentDes !=null">
      cms_content_des = #{cmsContentDes,jdbcType=CHAR},
      </if>
      <if test="cmsContentUrl !=null">
      cms_content_url = #{cmsContentUrl,jdbcType=VARCHAR},
      </if>
      <if test="templateId !=null">
      template_id = #{templateId,jdbcType=CHAR},
      </if>
      <if test="templateData !=null">
      template_data = #{templateData,jdbcType=VARCHAR},
      </if>
      <if test="isTop !=null">
      is_top = #{isTop,jdbcType=CHAR},
      </if>
      <if test="orderNo !=null">
      order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="publishStatus !=null">
      publish_status = #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="auditNote !=null">
      audit_note = #{auditNote,jdbcType=CHAR},
      </if>
      <if test="publishTime !=null">
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where cms_content_id = #{cmsContentId,jdbcType=CHAR}
  </update>

</mapper>
