<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.sys.MobileVersionMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.sys.MobileVersion" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="app_code" property="appCode" jdbcType="VARCHAR" />
    <result column="mobile_type" property="mobileType" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, app_code, mobile_type, 
      version, version_name, link, 
      platform, note, is_del, 
      create_time
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.sys.MobileVersionExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from mobile_version
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.sys.MobileVersionExample" resultType="java.lang.Integer">
    select count(*) from mobile_version
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.sys.MobileVersionKey" >
    select 
      id, app_code, mobile_type, 
      version, version_name, link, 
      platform, note, is_del, 
      create_time
    from mobile_version where id = #{id,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.sys.MobileVersionExample">
    delete from mobile_version
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.sys.MobileVersionKey" >
    delete from mobile_version where id = #{id,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.sys.MobileVersion" >
    insert into mobile_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         id,
      </if>
      <if test= "appCode != null">
         app_code,
      </if>
      <if test= "mobileType != null">
         mobile_type,
      </if>
      <if test= "version != null">
         version,
      </if>
      <if test= "versionName != null">
         version_name,
      </if>
      <if test= "link != null">
         link,
      </if>
      <if test= "platform != null">
         platform,
      </if>
      <if test= "note != null">
         note,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         #{id,jdbcType=CHAR},
      </if>
      <if test= "appCode != null">
         #{appCode,jdbcType=VARCHAR},
      </if>
      <if test= "mobileType != null">
         #{mobileType,jdbcType=VARCHAR},
      </if>
      <if test= "version != null">
         #{version,jdbcType=VARCHAR},
      </if>
      <if test= "versionName != null">
         #{versionName,jdbcType=VARCHAR},
      </if>
      <if test= "link != null">
         #{link,jdbcType=VARCHAR},
      </if>
      <if test= "platform != null">
         #{platform,jdbcType=VARCHAR},
      </if>
      <if test= "note != null">
         #{note,jdbcType=VARCHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=VARCHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update mobile_version
    <set>
        id = #{record.id,jdbcType=CHAR},
        app_code = #{record.appCode,jdbcType=VARCHAR},
        mobile_type = #{record.mobileType,jdbcType=VARCHAR},
        version = #{record.version,jdbcType=VARCHAR},
        version_name = #{record.versionName,jdbcType=VARCHAR},
        link = #{record.link,jdbcType=VARCHAR},
        platform = #{record.platform,jdbcType=VARCHAR},
        note = #{record.note,jdbcType=VARCHAR},
        is_del = #{record.isDel,jdbcType=VARCHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update mobile_version
    <set>
      <if test="record.id !=null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.appCode !=null">
        app_code = #{record.appCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileType !=null">
        mobile_type = #{record.mobileType,jdbcType=VARCHAR},
      </if>
      <if test="record.version !=null">
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.versionName !=null">
        version_name = #{record.versionName,jdbcType=VARCHAR},
      </if>
      <if test="record.link !=null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.platform !=null">
        platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.note !=null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.sys.MobileVersion" >
    update mobile_version
    <set>
      <if test="id !=null">
      id = #{id,jdbcType=CHAR},
      </if>
      <if test="appCode !=null">
      app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="mobileType !=null">
      mobile_type = #{mobileType,jdbcType=VARCHAR},
      </if>
      <if test="version !=null">
      version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="versionName !=null">
      version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="link !=null">
      link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="platform !=null">
      platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="note !=null">
      note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>
