<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xmlns:context="http://www.springframework.org/schema/context"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-autowire="byName">  
  	<!-- 用户行为消息开始  -->
  	<!-- 配置JMS连接工厂 -->
	<bean id="behaveMessageFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<value>tcp://uc.queue.goo.com:61616</value>
				</property>
				<property name="useAsyncSend">
			   		<value>true</value>
			    </property>
			</bean>
		</property>
		<property name="maxConnections" value="100"></property>
	</bean>
	<!-- 配置自己的模板 -->
	<bean id="behaveMessageTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref local="behaveMessageFactory" />
		</property>
		<!-- 区别它采用的模式为false是p2p，为true是订阅 -->
		<property name="pubSubDomain" value="false" />
		<property name="messageConverter" ref="behaveMessageConvert"></property>
	</bean>
	<!-- 发送消息的目的地（根据实际配置） -->
	<bean id="behaveMessageDestination" class="org.apache.activemq.command.ActiveMQQueue">  
        <constructor-arg index="0" value="UserCenterQueue"/>   
    </bean>
	<!-- 消息转换器 -->
	<bean id="behaveMessageConvert" class="com.gooagoo.common.jms.MQConvert"></bean>
  	<!-- 用户行为消息结束  -->
  
  	<!-- 发邮件消息开始  -->
    <!-- 配置JMS连接工厂 -->  
    <bean id="emailFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<value>tcp://email.queue.goo.com:61616</value>
				</property>
				<property name="useAsyncSend">
			   		<value>true</value>
			    </property>
			</bean>
		</property>
		<property name="maxConnections" value="100"></property>
	</bean>
  	<!-- 配置自己的模板 -->
	<bean id="emailTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref local="emailFactory" />
		</property>
		<!-- 区别它采用的模式为false是p2p，为true是订阅 -->
		<property name="pubSubDomain" value="false" />
		<property name="messageConverter" ref="emailConvert"></property>
	</bean>
    <!-- 发送消息的目的地（一个队列） 日志-->  
    <bean id="emailDestination" class="org.apache.activemq.command.ActiveMQQueue">  
        <!-- Set the Queue Name -->  
        <constructor-arg index="0" value="EmailQueue"/>  
    </bean>  
    <!-- 消息转换器 -->
	<bean id="emailConvert" class="com.gooagoo.common.jms.MQConvert"></bean>
	<!-- 发邮件消息结束  -->
	
	<!-- 发短信消息开始  -->
    <!-- 配置JMS连接工厂 -->  
    <bean id="messageFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<value>tcp://message.queue.goo.com:61616</value>
				</property>
				<property name="useAsyncSend">
			   		<value>true</value>
			    </property>
			</bean>
		</property>
		<property name="maxConnections" value="100"></property>
	</bean>
  	<!-- 配置自己的模板 -->
	<bean id="mobileTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref local="messageFactory" />
		</property>
		<!-- 区别它采用的模式为false是p2p，为true是订阅 -->
		<property name="pubSubDomain" value="false" />
		<property name="messageConverter" ref="messageConvert"></property>
	</bean>
    <!-- 发送消息的目的地（一个队列） 日志-->  
    <bean id="mobileDestination" class="org.apache.activemq.command.ActiveMQQueue">  
        <!-- Set the Queue Name -->  
        <constructor-arg index="0" value="MessageQueue"/>  
    </bean>  
    <!-- 消息转换器 -->
	<bean id="messageConvert" class="com.gooagoo.common.jms.MQConvert"></bean>
	<!-- 发短信消息结束  -->
</beans>