<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.shop.AreaParaMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.shop.AreaPara" >
    <id column="map_id" property="mapId" jdbcType="CHAR" />
    <result column="map_name" property="mapName" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="position_id" property="positionId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="url_html" property="urlHtml" jdbcType="CHAR" />
    <result column="url_svg" property="urlSvg" jdbcType="CHAR" />
    <result column="grid_info" property="gridInfo" jdbcType="CHAR" />
    <result column="is_park" property="isPark" jdbcType="CHAR" />
    <result column="map_real_width" property="mapRealWidth" jdbcType="INTEGER" />
    <result column="map_real_height" property="mapRealHeight" jdbcType="INTEGER" />
    <result column="ratio_location" property="ratioLocation" jdbcType="DOUBLE" />
    <result column="ratio_grid" property="ratioGrid" jdbcType="DOUBLE" />
    <result column="ratio_svg" property="ratioSvg" jdbcType="DOUBLE" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      map_id, map_name, shop_id, 
      position_id, shop_entity_id, url_html, 
      url_svg, grid_info, is_park, 
      map_real_width, map_real_height, ratio_location, 
      ratio_grid, ratio_svg, note, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.shop.AreaParaExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from area_para
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.shop.AreaParaExample" resultType="java.lang.Integer">
    select count(*) from area_para
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.shop.AreaParaKey" >
    select 
      map_id, map_name, shop_id, 
      position_id, shop_entity_id, url_html, 
      url_svg, grid_info, is_park, 
      map_real_width, map_real_height, ratio_location, 
      ratio_grid, ratio_svg, note, 
      is_del, create_time, c_time_stamp
    from area_para where map_id = #{mapId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.shop.AreaParaExample">
    delete from area_para
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.shop.AreaParaKey" >
    delete from area_para where map_id = #{mapId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.shop.AreaPara" >
    insert into area_para
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "mapId != null">
         map_id,
      </if>
      <if test= "mapName != null">
         map_name,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "positionId != null">
         position_id,
      </if>
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "urlHtml != null">
         url_html,
      </if>
      <if test= "urlSvg != null">
         url_svg,
      </if>
      <if test= "gridInfo != null">
         grid_info,
      </if>
      <if test= "isPark != null">
         is_park,
      </if>
      <if test= "mapRealWidth != null">
         map_real_width,
      </if>
      <if test= "mapRealHeight != null">
         map_real_height,
      </if>
      <if test= "ratioLocation != null">
         ratio_location,
      </if>
      <if test= "ratioGrid != null">
         ratio_grid,
      </if>
      <if test= "ratioSvg != null">
         ratio_svg,
      </if>
      <if test= "note != null">
         note,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "mapId != null">
         #{mapId,jdbcType=CHAR},
      </if>
      <if test= "mapName != null">
         #{mapName,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "positionId != null">
         #{positionId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "urlHtml != null">
         #{urlHtml,jdbcType=CHAR},
      </if>
      <if test= "urlSvg != null">
         #{urlSvg,jdbcType=CHAR},
      </if>
      <if test= "gridInfo != null">
         #{gridInfo,jdbcType=CHAR},
      </if>
      <if test= "isPark != null">
         #{isPark,jdbcType=CHAR},
      </if>
      <if test= "mapRealWidth != null">
         #{mapRealWidth,jdbcType=INTEGER},
      </if>
      <if test= "mapRealHeight != null">
         #{mapRealHeight,jdbcType=INTEGER},
      </if>
      <if test= "ratioLocation != null">
         #{ratioLocation,jdbcType=DOUBLE},
      </if>
      <if test= "ratioGrid != null">
         #{ratioGrid,jdbcType=DOUBLE},
      </if>
      <if test= "ratioSvg != null">
         #{ratioSvg,jdbcType=DOUBLE},
      </if>
      <if test= "note != null">
         #{note,jdbcType=VARCHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update area_para
    <set>
        map_id = #{record.mapId,jdbcType=CHAR},
        map_name = #{record.mapName,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        position_id = #{record.positionId,jdbcType=CHAR},
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        url_html = #{record.urlHtml,jdbcType=CHAR},
        url_svg = #{record.urlSvg,jdbcType=CHAR},
        grid_info = #{record.gridInfo,jdbcType=CHAR},
        is_park = #{record.isPark,jdbcType=CHAR},
        map_real_width = #{record.mapRealWidth,jdbcType=INTEGER},
        map_real_height = #{record.mapRealHeight,jdbcType=INTEGER},
        ratio_location = #{record.ratioLocation,jdbcType=DOUBLE},
        ratio_grid = #{record.ratioGrid,jdbcType=DOUBLE},
        ratio_svg = #{record.ratioSvg,jdbcType=DOUBLE},
        note = #{record.note,jdbcType=VARCHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update area_para
    <set>
      <if test="record.mapId !=null">
        map_id = #{record.mapId,jdbcType=CHAR},
      </if>
      <if test="record.mapName !=null">
        map_name = #{record.mapName,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.positionId !=null">
        position_id = #{record.positionId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.urlHtml !=null">
        url_html = #{record.urlHtml,jdbcType=CHAR},
      </if>
      <if test="record.urlSvg !=null">
        url_svg = #{record.urlSvg,jdbcType=CHAR},
      </if>
      <if test="record.gridInfo !=null">
        grid_info = #{record.gridInfo,jdbcType=CHAR},
      </if>
      <if test="record.isPark !=null">
        is_park = #{record.isPark,jdbcType=CHAR},
      </if>
      <if test="record.mapRealWidth !=null">
        map_real_width = #{record.mapRealWidth,jdbcType=INTEGER},
      </if>
      <if test="record.mapRealHeight !=null">
        map_real_height = #{record.mapRealHeight,jdbcType=INTEGER},
      </if>
      <if test="record.ratioLocation !=null">
        ratio_location = #{record.ratioLocation,jdbcType=DOUBLE},
      </if>
      <if test="record.ratioGrid !=null">
        ratio_grid = #{record.ratioGrid,jdbcType=DOUBLE},
      </if>
      <if test="record.ratioSvg !=null">
        ratio_svg = #{record.ratioSvg,jdbcType=DOUBLE},
      </if>
      <if test="record.note !=null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.shop.AreaPara" >
    update area_para
    <set>
      <if test="mapId !=null">
      map_id = #{mapId,jdbcType=CHAR},
      </if>
      <if test="mapName !=null">
      map_name = #{mapName,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="positionId !=null">
      position_id = #{positionId,jdbcType=CHAR},
      </if>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="urlHtml !=null">
      url_html = #{urlHtml,jdbcType=CHAR},
      </if>
      <if test="urlSvg !=null">
      url_svg = #{urlSvg,jdbcType=CHAR},
      </if>
      <if test="gridInfo !=null">
      grid_info = #{gridInfo,jdbcType=CHAR},
      </if>
      <if test="isPark !=null">
      is_park = #{isPark,jdbcType=CHAR},
      </if>
      <if test="mapRealWidth !=null">
      map_real_width = #{mapRealWidth,jdbcType=INTEGER},
      </if>
      <if test="mapRealHeight !=null">
      map_real_height = #{mapRealHeight,jdbcType=INTEGER},
      </if>
      <if test="ratioLocation !=null">
      ratio_location = #{ratioLocation,jdbcType=DOUBLE},
      </if>
      <if test="ratioGrid !=null">
      ratio_grid = #{ratioGrid,jdbcType=DOUBLE},
      </if>
      <if test="ratioSvg !=null">
      ratio_svg = #{ratioSvg,jdbcType=DOUBLE},
      </if>
      <if test="note !=null">
      note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where map_id = #{mapId,jdbcType=CHAR}
  </update>

</mapper>
