<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.shop.ShopEntityInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.shop.ShopEntityInfo" >
    <id column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="shop_entity_name" property="shopEntityName" jdbcType="CHAR" />
    <result column="is_general" property="isGeneral" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="trade_area_id" property="tradeAreaId" jdbcType="CHAR" />
    <result column="registered_number" property="registeredNumber" jdbcType="VARCHAR" />
    <result column="classification_code" property="classificationCode" jdbcType="VARCHAR" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="registered_city" property="registeredCity" jdbcType="VARCHAR" />
    <result column="corporate" property="corporate" jdbcType="VARCHAR" />
    <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="busniss_aloted_start_time" property="busnissAlotedStartTime" jdbcType="TIMESTAMP" />
    <result column="busniss_aloted_end_time" property="busnissAlotedEndTime" jdbcType="TIMESTAMP" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="invoice_expire" property="invoiceExpire" jdbcType="INTEGER" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="close_time" property="closeTime" jdbcType="VARCHAR" />
    <result column="shop_road_guide" property="shopRoadGuide" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="promptinfo" property="promptinfo" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      shop_entity_id, shop_entity_name, is_general, 
      shop_id, trade_area_id, registered_number, 
      classification_code, organization_code, enterprise_name, 
      registered_city, corporate, registered_capital, 
      busniss_aloted_start_time, busniss_aloted_end_time, business_license, 
      invoice_expire, open_time, close_time, 
      shop_road_guide, introduction, promptinfo, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from shop_entity_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfoExample" resultType="java.lang.Integer">
    select count(*) from shop_entity_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfoKey" >
    select 
      shop_entity_id, shop_entity_name, is_general, 
      shop_id, trade_area_id, registered_number, 
      classification_code, organization_code, enterprise_name, 
      registered_city, corporate, registered_capital, 
      busniss_aloted_start_time, busniss_aloted_end_time, business_license, 
      invoice_expire, open_time, close_time, 
      shop_road_guide, introduction, promptinfo, 
      is_del, create_time, c_time_stamp
    from shop_entity_info where shop_entity_id = #{shopEntityId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfoExample">
    delete from shop_entity_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfoKey" >
    delete from shop_entity_info where shop_entity_id = #{shopEntityId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfo" >
    insert into shop_entity_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "shopEntityName != null">
         shop_entity_name,
      </if>
      <if test= "isGeneral != null">
         is_general,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "tradeAreaId != null">
         trade_area_id,
      </if>
      <if test= "registeredNumber != null">
         registered_number,
      </if>
      <if test= "classificationCode != null">
         classification_code,
      </if>
      <if test= "organizationCode != null">
         organization_code,
      </if>
      <if test= "enterpriseName != null">
         enterprise_name,
      </if>
      <if test= "registeredCity != null">
         registered_city,
      </if>
      <if test= "corporate != null">
         corporate,
      </if>
      <if test= "registeredCapital != null">
         registered_capital,
      </if>
      <if test= "busnissAlotedStartTime != null">
         busniss_aloted_start_time,
      </if>
      <if test= "busnissAlotedEndTime != null">
         busniss_aloted_end_time,
      </if>
      <if test= "businessLicense != null">
         business_license,
      </if>
      <if test= "invoiceExpire != null">
         invoice_expire,
      </if>
      <if test= "openTime != null">
         open_time,
      </if>
      <if test= "closeTime != null">
         close_time,
      </if>
      <if test= "shopRoadGuide != null">
         shop_road_guide,
      </if>
      <if test= "introduction != null">
         introduction,
      </if>
      <if test= "promptinfo != null">
         promptinfo,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityName != null">
         #{shopEntityName,jdbcType=CHAR},
      </if>
      <if test= "isGeneral != null">
         #{isGeneral,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "tradeAreaId != null">
         #{tradeAreaId,jdbcType=CHAR},
      </if>
      <if test= "registeredNumber != null">
         #{registeredNumber,jdbcType=VARCHAR},
      </if>
      <if test= "classificationCode != null">
         #{classificationCode,jdbcType=VARCHAR},
      </if>
      <if test= "organizationCode != null">
         #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test= "enterpriseName != null">
         #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test= "registeredCity != null">
         #{registeredCity,jdbcType=VARCHAR},
      </if>
      <if test= "corporate != null">
         #{corporate,jdbcType=VARCHAR},
      </if>
      <if test= "registeredCapital != null">
         #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test= "busnissAlotedStartTime != null">
         #{busnissAlotedStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "busnissAlotedEndTime != null">
         #{busnissAlotedEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "businessLicense != null">
         #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test= "invoiceExpire != null">
         #{invoiceExpire,jdbcType=INTEGER},
      </if>
      <if test= "openTime != null">
         #{openTime,jdbcType=VARCHAR},
      </if>
      <if test= "closeTime != null">
         #{closeTime,jdbcType=VARCHAR},
      </if>
      <if test= "shopRoadGuide != null">
         #{shopRoadGuide,jdbcType=VARCHAR},
      </if>
      <if test= "introduction != null">
         #{introduction,jdbcType=VARCHAR},
      </if>
      <if test= "promptinfo != null">
         #{promptinfo,jdbcType=VARCHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update shop_entity_info
    <set>
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        shop_entity_name = #{record.shopEntityName,jdbcType=CHAR},
        is_general = #{record.isGeneral,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        trade_area_id = #{record.tradeAreaId,jdbcType=CHAR},
        registered_number = #{record.registeredNumber,jdbcType=VARCHAR},
        classification_code = #{record.classificationCode,jdbcType=VARCHAR},
        organization_code = #{record.organizationCode,jdbcType=VARCHAR},
        enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
        registered_city = #{record.registeredCity,jdbcType=VARCHAR},
        corporate = #{record.corporate,jdbcType=VARCHAR},
        registered_capital = #{record.registeredCapital,jdbcType=VARCHAR},
        busniss_aloted_start_time = #{record.busnissAlotedStartTime,jdbcType=TIMESTAMP},
        busniss_aloted_end_time = #{record.busnissAlotedEndTime,jdbcType=TIMESTAMP},
        business_license = #{record.businessLicense,jdbcType=VARCHAR},
        invoice_expire = #{record.invoiceExpire,jdbcType=INTEGER},
        open_time = #{record.openTime,jdbcType=VARCHAR},
        close_time = #{record.closeTime,jdbcType=VARCHAR},
        shop_road_guide = #{record.shopRoadGuide,jdbcType=VARCHAR},
        introduction = #{record.introduction,jdbcType=VARCHAR},
        promptinfo = #{record.promptinfo,jdbcType=VARCHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update shop_entity_info
    <set>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityName !=null">
        shop_entity_name = #{record.shopEntityName,jdbcType=CHAR},
      </if>
      <if test="record.isGeneral !=null">
        is_general = #{record.isGeneral,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.tradeAreaId !=null">
        trade_area_id = #{record.tradeAreaId,jdbcType=CHAR},
      </if>
      <if test="record.registeredNumber !=null">
        registered_number = #{record.registeredNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.classificationCode !=null">
        classification_code = #{record.classificationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationCode !=null">
        organization_code = #{record.organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseName !=null">
        enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="record.registeredCity !=null">
        registered_city = #{record.registeredCity,jdbcType=VARCHAR},
      </if>
      <if test="record.corporate !=null">
        corporate = #{record.corporate,jdbcType=VARCHAR},
      </if>
      <if test="record.registeredCapital !=null">
        registered_capital = #{record.registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="record.busnissAlotedStartTime !=null">
        busniss_aloted_start_time = #{record.busnissAlotedStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.busnissAlotedEndTime !=null">
        busniss_aloted_end_time = #{record.busnissAlotedEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.businessLicense !=null">
        business_license = #{record.businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceExpire !=null">
        invoice_expire = #{record.invoiceExpire,jdbcType=INTEGER},
      </if>
      <if test="record.openTime !=null">
        open_time = #{record.openTime,jdbcType=VARCHAR},
      </if>
      <if test="record.closeTime !=null">
        close_time = #{record.closeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.shopRoadGuide !=null">
        shop_road_guide = #{record.shopRoadGuide,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction !=null">
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.promptinfo !=null">
        promptinfo = #{record.promptinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.shop.ShopEntityInfo" >
    update shop_entity_info
    <set>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="shopEntityName !=null">
      shop_entity_name = #{shopEntityName,jdbcType=CHAR},
      </if>
      <if test="isGeneral !=null">
      is_general = #{isGeneral,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="tradeAreaId !=null">
      trade_area_id = #{tradeAreaId,jdbcType=CHAR},
      </if>
      <if test="registeredNumber !=null">
      registered_number = #{registeredNumber,jdbcType=VARCHAR},
      </if>
      <if test="classificationCode !=null">
      classification_code = #{classificationCode,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode !=null">
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName !=null">
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCity !=null">
      registered_city = #{registeredCity,jdbcType=VARCHAR},
      </if>
      <if test="corporate !=null">
      corporate = #{corporate,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital !=null">
      registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="busnissAlotedStartTime !=null">
      busniss_aloted_start_time = #{busnissAlotedStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="busnissAlotedEndTime !=null">
      busniss_aloted_end_time = #{busnissAlotedEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessLicense !=null">
      business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="invoiceExpire !=null">
      invoice_expire = #{invoiceExpire,jdbcType=INTEGER},
      </if>
      <if test="openTime !=null">
      open_time = #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="closeTime !=null">
      close_time = #{closeTime,jdbcType=VARCHAR},
      </if>
      <if test="shopRoadGuide !=null">
      shop_road_guide = #{shopRoadGuide,jdbcType=VARCHAR},
      </if>
      <if test="introduction !=null">
      introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="promptinfo !=null">
      promptinfo = #{promptinfo,jdbcType=VARCHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where shop_entity_id = #{shopEntityId,jdbcType=CHAR}
  </update>

</mapper>
