<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.bill.BillInvoiceLogMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.bill.BillInvoiceLog" >
    <id column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="invoiced_type" property="invoicedType" jdbcType="CHAR" />
    <result column="invoiced_tile" property="invoicedTile" jdbcType="CHAR" />
    <result column="invoiced_price" property="invoicedPrice" jdbcType="DOUBLE" />
    <result column="invoiced_item" property="invoicedItem" jdbcType="CHAR" />
    <result column="invoiced_time" property="invoicedTime" jdbcType="TIMESTAMP" />
    <result column="invoiced_request_time" property="invoicedRequestTime" jdbcType="TIMESTAMP" />
    <result column="need_invoiced_detail" property="needInvoicedDetail" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      order_id, user_id, shop_id, 
      shop_entity_id, invoiced_type, invoiced_tile, 
      invoiced_price, invoiced_item, invoiced_time, 
      invoiced_request_time, need_invoiced_detail, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLogExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from bill_invoice_log
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLogExample" resultType="java.lang.Integer">
    select count(*) from bill_invoice_log
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLogKey" >
    select 
      order_id, user_id, shop_id, 
      shop_entity_id, invoiced_type, invoiced_tile, 
      invoiced_price, invoiced_item, invoiced_time, 
      invoiced_request_time, need_invoiced_detail, is_del, 
      create_time, c_time_stamp
    from bill_invoice_log where order_id = #{orderId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLogExample">
    delete from bill_invoice_log
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLogKey" >
    delete from bill_invoice_log where order_id = #{orderId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLog" >
    insert into bill_invoice_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "orderId != null">
         order_id,
      </if>
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "invoicedType != null">
         invoiced_type,
      </if>
      <if test= "invoicedTile != null">
         invoiced_tile,
      </if>
      <if test= "invoicedPrice != null">
         invoiced_price,
      </if>
      <if test= "invoicedItem != null">
         invoiced_item,
      </if>
      <if test= "invoicedTime != null">
         invoiced_time,
      </if>
      <if test= "invoicedRequestTime != null">
         invoiced_request_time,
      </if>
      <if test= "needInvoicedDetail != null">
         need_invoiced_detail,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "orderId != null">
         #{orderId,jdbcType=CHAR},
      </if>
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "invoicedType != null">
         #{invoicedType,jdbcType=CHAR},
      </if>
      <if test= "invoicedTile != null">
         #{invoicedTile,jdbcType=CHAR},
      </if>
      <if test= "invoicedPrice != null">
         #{invoicedPrice,jdbcType=DOUBLE},
      </if>
      <if test= "invoicedItem != null">
         #{invoicedItem,jdbcType=CHAR},
      </if>
      <if test= "invoicedTime != null">
         #{invoicedTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "invoicedRequestTime != null">
         #{invoicedRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "needInvoicedDetail != null">
         #{needInvoicedDetail,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update bill_invoice_log
    <set>
        order_id = #{record.orderId,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        invoiced_type = #{record.invoicedType,jdbcType=CHAR},
        invoiced_tile = #{record.invoicedTile,jdbcType=CHAR},
        invoiced_price = #{record.invoicedPrice,jdbcType=DOUBLE},
        invoiced_item = #{record.invoicedItem,jdbcType=CHAR},
        invoiced_time = #{record.invoicedTime,jdbcType=TIMESTAMP},
        invoiced_request_time = #{record.invoicedRequestTime,jdbcType=TIMESTAMP},
        need_invoiced_detail = #{record.needInvoicedDetail,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update bill_invoice_log
    <set>
      <if test="record.orderId !=null">
        order_id = #{record.orderId,jdbcType=CHAR},
      </if>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.invoicedType !=null">
        invoiced_type = #{record.invoicedType,jdbcType=CHAR},
      </if>
      <if test="record.invoicedTile !=null">
        invoiced_tile = #{record.invoicedTile,jdbcType=CHAR},
      </if>
      <if test="record.invoicedPrice !=null">
        invoiced_price = #{record.invoicedPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.invoicedItem !=null">
        invoiced_item = #{record.invoicedItem,jdbcType=CHAR},
      </if>
      <if test="record.invoicedTime !=null">
        invoiced_time = #{record.invoicedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invoicedRequestTime !=null">
        invoiced_request_time = #{record.invoicedRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.needInvoicedDetail !=null">
        need_invoiced_detail = #{record.needInvoicedDetail,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.bill.BillInvoiceLog" >
    update bill_invoice_log
    <set>
      <if test="orderId !=null">
      order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="invoicedType !=null">
      invoiced_type = #{invoicedType,jdbcType=CHAR},
      </if>
      <if test="invoicedTile !=null">
      invoiced_tile = #{invoicedTile,jdbcType=CHAR},
      </if>
      <if test="invoicedPrice !=null">
      invoiced_price = #{invoicedPrice,jdbcType=DOUBLE},
      </if>
      <if test="invoicedItem !=null">
      invoiced_item = #{invoicedItem,jdbcType=CHAR},
      </if>
      <if test="invoicedTime !=null">
      invoiced_time = #{invoicedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoicedRequestTime !=null">
      invoiced_request_time = #{invoicedRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="needInvoicedDetail !=null">
      need_invoiced_detail = #{needInvoicedDetail,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where order_id = #{orderId,jdbcType=CHAR}
  </update>

</mapper>
