<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.goods.GoodsMarketingInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.goods.GoodsMarketingInfo" >
    <id column="goods_id" property="goodsId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="shop_entity_id" property="shopEntityId" jdbcType="CHAR" />
    <result column="vendor" property="vendor" jdbcType="VARCHAR" />
    <result column="position_id" property="positionId" jdbcType="CHAR" />
    <result column="goods_content" property="goodsContent" jdbcType="VARCHAR" />
    <result column="goods_solution" property="goodsSolution" jdbcType="VARCHAR" />
    <result column="cross_goods" property="crossGoods" jdbcType="VARCHAR" />
    <result column="relation_goods" property="relationGoods" jdbcType="VARCHAR" />
    <result column="replace_goods" property="replaceGoods" jdbcType="VARCHAR" />
    <result column="life_idea" property="lifeIdea" jdbcType="VARCHAR" />
    <result column="use_type" property="useType" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="crowd" property="crowd" jdbcType="VARCHAR" />
    <result column="use_message" property="useMessage" jdbcType="VARCHAR" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      goods_id, shop_id, shop_entity_id, 
      vendor, position_id, goods_content, 
      goods_solution, cross_goods, relation_goods, 
      replace_goods, life_idea, use_type, 
      feature, address, crowd, 
      use_message, goods_img, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from goods_marketing_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfoExample" resultType="java.lang.Integer">
    select count(*) from goods_marketing_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfoKey" >
    select 
      goods_id, shop_id, shop_entity_id, 
      vendor, position_id, goods_content, 
      goods_solution, cross_goods, relation_goods, 
      replace_goods, life_idea, use_type, 
      feature, address, crowd, 
      use_message, goods_img, is_del, 
      create_time, c_time_stamp
    from goods_marketing_info where goods_id = #{goodsId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfoExample">
    delete from goods_marketing_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfoKey" >
    delete from goods_marketing_info where goods_id = #{goodsId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfo" >
    insert into goods_marketing_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "goodsId != null">
         goods_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "shopEntityId != null">
         shop_entity_id,
      </if>
      <if test= "vendor != null">
         vendor,
      </if>
      <if test= "positionId != null">
         position_id,
      </if>
      <if test= "goodsContent != null">
         goods_content,
      </if>
      <if test= "goodsSolution != null">
         goods_solution,
      </if>
      <if test= "crossGoods != null">
         cross_goods,
      </if>
      <if test= "relationGoods != null">
         relation_goods,
      </if>
      <if test= "replaceGoods != null">
         replace_goods,
      </if>
      <if test= "lifeIdea != null">
         life_idea,
      </if>
      <if test= "useType != null">
         use_type,
      </if>
      <if test= "feature != null">
         feature,
      </if>
      <if test= "address != null">
         address,
      </if>
      <if test= "crowd != null">
         crowd,
      </if>
      <if test= "useMessage != null">
         use_message,
      </if>
      <if test= "goodsImg != null">
         goods_img,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "goodsId != null">
         #{goodsId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "shopEntityId != null">
         #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test= "vendor != null">
         #{vendor,jdbcType=VARCHAR},
      </if>
      <if test= "positionId != null">
         #{positionId,jdbcType=CHAR},
      </if>
      <if test= "goodsContent != null">
         #{goodsContent,jdbcType=VARCHAR},
      </if>
      <if test= "goodsSolution != null">
         #{goodsSolution,jdbcType=VARCHAR},
      </if>
      <if test= "crossGoods != null">
         #{crossGoods,jdbcType=VARCHAR},
      </if>
      <if test= "relationGoods != null">
         #{relationGoods,jdbcType=VARCHAR},
      </if>
      <if test= "replaceGoods != null">
         #{replaceGoods,jdbcType=VARCHAR},
      </if>
      <if test= "lifeIdea != null">
         #{lifeIdea,jdbcType=VARCHAR},
      </if>
      <if test= "useType != null">
         #{useType,jdbcType=VARCHAR},
      </if>
      <if test= "feature != null">
         #{feature,jdbcType=VARCHAR},
      </if>
      <if test= "address != null">
         #{address,jdbcType=VARCHAR},
      </if>
      <if test= "crowd != null">
         #{crowd,jdbcType=VARCHAR},
      </if>
      <if test= "useMessage != null">
         #{useMessage,jdbcType=VARCHAR},
      </if>
      <if test= "goodsImg != null">
         #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update goods_marketing_info
    <set>
        goods_id = #{record.goodsId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
        vendor = #{record.vendor,jdbcType=VARCHAR},
        position_id = #{record.positionId,jdbcType=CHAR},
        goods_content = #{record.goodsContent,jdbcType=VARCHAR},
        goods_solution = #{record.goodsSolution,jdbcType=VARCHAR},
        cross_goods = #{record.crossGoods,jdbcType=VARCHAR},
        relation_goods = #{record.relationGoods,jdbcType=VARCHAR},
        replace_goods = #{record.replaceGoods,jdbcType=VARCHAR},
        life_idea = #{record.lifeIdea,jdbcType=VARCHAR},
        use_type = #{record.useType,jdbcType=VARCHAR},
        feature = #{record.feature,jdbcType=VARCHAR},
        address = #{record.address,jdbcType=VARCHAR},
        crowd = #{record.crowd,jdbcType=VARCHAR},
        use_message = #{record.useMessage,jdbcType=VARCHAR},
        goods_img = #{record.goodsImg,jdbcType=VARCHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update goods_marketing_info
    <set>
      <if test="record.goodsId !=null">
        goods_id = #{record.goodsId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.shopEntityId !=null">
        shop_entity_id = #{record.shopEntityId,jdbcType=CHAR},
      </if>
      <if test="record.vendor !=null">
        vendor = #{record.vendor,jdbcType=VARCHAR},
      </if>
      <if test="record.positionId !=null">
        position_id = #{record.positionId,jdbcType=CHAR},
      </if>
      <if test="record.goodsContent !=null">
        goods_content = #{record.goodsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSolution !=null">
        goods_solution = #{record.goodsSolution,jdbcType=VARCHAR},
      </if>
      <if test="record.crossGoods !=null">
        cross_goods = #{record.crossGoods,jdbcType=VARCHAR},
      </if>
      <if test="record.relationGoods !=null">
        relation_goods = #{record.relationGoods,jdbcType=VARCHAR},
      </if>
      <if test="record.replaceGoods !=null">
        replace_goods = #{record.replaceGoods,jdbcType=VARCHAR},
      </if>
      <if test="record.lifeIdea !=null">
        life_idea = #{record.lifeIdea,jdbcType=VARCHAR},
      </if>
      <if test="record.useType !=null">
        use_type = #{record.useType,jdbcType=VARCHAR},
      </if>
      <if test="record.feature !=null">
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
      <if test="record.address !=null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.crowd !=null">
        crowd = #{record.crowd,jdbcType=VARCHAR},
      </if>
      <if test="record.useMessage !=null">
        use_message = #{record.useMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsImg !=null">
        goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.goods.GoodsMarketingInfo" >
    update goods_marketing_info
    <set>
      <if test="goodsId !=null">
      goods_id = #{goodsId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="shopEntityId !=null">
      shop_entity_id = #{shopEntityId,jdbcType=CHAR},
      </if>
      <if test="vendor !=null">
      vendor = #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="positionId !=null">
      position_id = #{positionId,jdbcType=CHAR},
      </if>
      <if test="goodsContent !=null">
      goods_content = #{goodsContent,jdbcType=VARCHAR},
      </if>
      <if test="goodsSolution !=null">
      goods_solution = #{goodsSolution,jdbcType=VARCHAR},
      </if>
      <if test="crossGoods !=null">
      cross_goods = #{crossGoods,jdbcType=VARCHAR},
      </if>
      <if test="relationGoods !=null">
      relation_goods = #{relationGoods,jdbcType=VARCHAR},
      </if>
      <if test="replaceGoods !=null">
      replace_goods = #{replaceGoods,jdbcType=VARCHAR},
      </if>
      <if test="lifeIdea !=null">
      life_idea = #{lifeIdea,jdbcType=VARCHAR},
      </if>
      <if test="useType !=null">
      use_type = #{useType,jdbcType=VARCHAR},
      </if>
      <if test="feature !=null">
      feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="address !=null">
      address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="crowd !=null">
      crowd = #{crowd,jdbcType=VARCHAR},
      </if>
      <if test="useMessage !=null">
      use_message = #{useMessage,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg !=null">
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=CHAR}
  </update>

</mapper>
