<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.MarketingActivityMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.MarketingActivity" >
    <id column="activity_id" property="activityId" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="activity_name" property="activityName" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="CHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="img_url" property="imgUrl" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="purpose" property="purpose" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="CHAR" />
    <result column="template_id" property="templateId" jdbcType="CHAR" />
    <result column="template_data" property="templateData" jdbcType="VARCHAR" />
    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      activity_id, shop_id, activity_name, 
      title, start_time, end_time, 
      img_url, content, purpose, 
      description, template_id, template_data, 
      publish_status, audit_note, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivityExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from marketing_activity
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivityExample" resultType="java.lang.Integer">
    select count(*) from marketing_activity
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivityKey" >
    select 
      activity_id, shop_id, activity_name, 
      title, start_time, end_time, 
      img_url, content, purpose, 
      description, template_id, template_data, 
      publish_status, audit_note, is_del, 
      create_time, c_time_stamp
    from marketing_activity where activity_id = #{activityId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivityExample">
    delete from marketing_activity
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivityKey" >
    delete from marketing_activity where activity_id = #{activityId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivity" >
    insert into marketing_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "activityId != null">
         activity_id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "activityName != null">
         activity_name,
      </if>
      <if test= "title != null">
         title,
      </if>
      <if test= "startTime != null">
         start_time,
      </if>
      <if test= "endTime != null">
         end_time,
      </if>
      <if test= "imgUrl != null">
         img_url,
      </if>
      <if test= "content != null">
         content,
      </if>
      <if test= "purpose != null">
         purpose,
      </if>
      <if test= "description != null">
         description,
      </if>
      <if test= "templateId != null">
         template_id,
      </if>
      <if test= "templateData != null">
         template_data,
      </if>
      <if test= "publishStatus != null">
         publish_status,
      </if>
      <if test= "auditNote != null">
         audit_note,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "activityId != null">
         #{activityId,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "activityName != null">
         #{activityName,jdbcType=CHAR},
      </if>
      <if test= "title != null">
         #{title,jdbcType=CHAR},
      </if>
      <if test= "startTime != null">
         #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "endTime != null">
         #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "imgUrl != null">
         #{imgUrl,jdbcType=CHAR},
      </if>
      <if test= "content != null">
         #{content,jdbcType=VARCHAR},
      </if>
      <if test= "purpose != null">
         #{purpose,jdbcType=CHAR},
      </if>
      <if test= "description != null">
         #{description,jdbcType=CHAR},
      </if>
      <if test= "templateId != null">
         #{templateId,jdbcType=CHAR},
      </if>
      <if test= "templateData != null">
         #{templateData,jdbcType=VARCHAR},
      </if>
      <if test= "publishStatus != null">
         #{publishStatus,jdbcType=CHAR},
      </if>
      <if test= "auditNote != null">
         #{auditNote,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update marketing_activity
    <set>
        activity_id = #{record.activityId,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        activity_name = #{record.activityName,jdbcType=CHAR},
        title = #{record.title,jdbcType=CHAR},
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
        img_url = #{record.imgUrl,jdbcType=CHAR},
        content = #{record.content,jdbcType=VARCHAR},
        purpose = #{record.purpose,jdbcType=CHAR},
        description = #{record.description,jdbcType=CHAR},
        template_id = #{record.templateId,jdbcType=CHAR},
        template_data = #{record.templateData,jdbcType=VARCHAR},
        publish_status = #{record.publishStatus,jdbcType=CHAR},
        audit_note = #{record.auditNote,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update marketing_activity
    <set>
      <if test="record.activityId !=null">
        activity_id = #{record.activityId,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.activityName !=null">
        activity_name = #{record.activityName,jdbcType=CHAR},
      </if>
      <if test="record.title !=null">
        title = #{record.title,jdbcType=CHAR},
      </if>
      <if test="record.startTime !=null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime !=null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imgUrl !=null">
        img_url = #{record.imgUrl,jdbcType=CHAR},
      </if>
      <if test="record.content !=null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.purpose !=null">
        purpose = #{record.purpose,jdbcType=CHAR},
      </if>
      <if test="record.description !=null">
        description = #{record.description,jdbcType=CHAR},
      </if>
      <if test="record.templateId !=null">
        template_id = #{record.templateId,jdbcType=CHAR},
      </if>
      <if test="record.templateData !=null">
        template_data = #{record.templateData,jdbcType=VARCHAR},
      </if>
      <if test="record.publishStatus !=null">
        publish_status = #{record.publishStatus,jdbcType=CHAR},
      </if>
      <if test="record.auditNote !=null">
        audit_note = #{record.auditNote,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.MarketingActivity" >
    update marketing_activity
    <set>
      <if test="activityId !=null">
      activity_id = #{activityId,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="activityName !=null">
      activity_name = #{activityName,jdbcType=CHAR},
      </if>
      <if test="title !=null">
      title = #{title,jdbcType=CHAR},
      </if>
      <if test="startTime !=null">
      start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime !=null">
      end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgUrl !=null">
      img_url = #{imgUrl,jdbcType=CHAR},
      </if>
      <if test="content !=null">
      content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="purpose !=null">
      purpose = #{purpose,jdbcType=CHAR},
      </if>
      <if test="description !=null">
      description = #{description,jdbcType=CHAR},
      </if>
      <if test="templateId !=null">
      template_id = #{templateId,jdbcType=CHAR},
      </if>
      <if test="templateData !=null">
      template_data = #{templateData,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus !=null">
      publish_status = #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="auditNote !=null">
      audit_note = #{auditNote,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=CHAR}
  </update>

</mapper>
