<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.RuleResultMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.RuleResult" >
    <id column="rule_result_id" property="ruleResultId" jdbcType="CHAR" />
    <result column="activity_id" property="activityId" jdbcType="CHAR" />
    <result column="add_consume_money" property="addConsumeMoney" jdbcType="DOUBLE" />
    <result column="rule_result_type" property="ruleResultType" jdbcType="VARCHAR" />
    <result column="rule_result_value" property="ruleResultValue" jdbcType="VARCHAR" />
    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
    <result column="rule_id" property="ruleId" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      rule_result_id, activity_id, add_consume_money, 
      rule_result_type, rule_result_value, rule_desc, 
      publish_status, audit_note, rule_id, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleResultExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from rule_result
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleResultExample" resultType="java.lang.Integer">
    select count(*) from rule_result
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.RuleResultKey" >
    select 
      rule_result_id, activity_id, add_consume_money, 
      rule_result_type, rule_result_value, rule_desc, 
      publish_status, audit_note, rule_id, 
      is_del, create_time, c_time_stamp
    from rule_result where rule_result_id = #{ruleResultId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleResultExample">
    delete from rule_result
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.RuleResultKey" >
    delete from rule_result where rule_result_id = #{ruleResultId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.RuleResult" >
    insert into rule_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "ruleResultId != null">
         rule_result_id,
      </if>
      <if test= "activityId != null">
         activity_id,
      </if>
      <if test= "addConsumeMoney != null">
         add_consume_money,
      </if>
      <if test= "ruleResultType != null">
         rule_result_type,
      </if>
      <if test= "ruleResultValue != null">
         rule_result_value,
      </if>
      <if test= "ruleDesc != null">
         rule_desc,
      </if>
      <if test= "publishStatus != null">
         publish_status,
      </if>
      <if test= "auditNote != null">
         audit_note,
      </if>
      <if test= "ruleId != null">
         rule_id,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "ruleResultId != null">
         #{ruleResultId,jdbcType=CHAR},
      </if>
      <if test= "activityId != null">
         #{activityId,jdbcType=CHAR},
      </if>
      <if test= "addConsumeMoney != null">
         #{addConsumeMoney,jdbcType=DOUBLE},
      </if>
      <if test= "ruleResultType != null">
         #{ruleResultType,jdbcType=VARCHAR},
      </if>
      <if test= "ruleResultValue != null">
         #{ruleResultValue,jdbcType=VARCHAR},
      </if>
      <if test= "ruleDesc != null">
         #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test= "publishStatus != null">
         #{publishStatus,jdbcType=CHAR},
      </if>
      <if test= "auditNote != null">
         #{auditNote,jdbcType=CHAR},
      </if>
      <if test= "ruleId != null">
         #{ruleId,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update rule_result
    <set>
        rule_result_id = #{record.ruleResultId,jdbcType=CHAR},
        activity_id = #{record.activityId,jdbcType=CHAR},
        add_consume_money = #{record.addConsumeMoney,jdbcType=DOUBLE},
        rule_result_type = #{record.ruleResultType,jdbcType=VARCHAR},
        rule_result_value = #{record.ruleResultValue,jdbcType=VARCHAR},
        rule_desc = #{record.ruleDesc,jdbcType=VARCHAR},
        publish_status = #{record.publishStatus,jdbcType=CHAR},
        audit_note = #{record.auditNote,jdbcType=CHAR},
        rule_id = #{record.ruleId,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update rule_result
    <set>
      <if test="record.ruleResultId !=null">
        rule_result_id = #{record.ruleResultId,jdbcType=CHAR},
      </if>
      <if test="record.activityId !=null">
        activity_id = #{record.activityId,jdbcType=CHAR},
      </if>
      <if test="record.addConsumeMoney !=null">
        add_consume_money = #{record.addConsumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.ruleResultType !=null">
        rule_result_type = #{record.ruleResultType,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleResultValue !=null">
        rule_result_value = #{record.ruleResultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleDesc !=null">
        rule_desc = #{record.ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.publishStatus !=null">
        publish_status = #{record.publishStatus,jdbcType=CHAR},
      </if>
      <if test="record.auditNote !=null">
        audit_note = #{record.auditNote,jdbcType=CHAR},
      </if>
      <if test="record.ruleId !=null">
        rule_id = #{record.ruleId,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.RuleResult" >
    update rule_result
    <set>
      <if test="ruleResultId !=null">
      rule_result_id = #{ruleResultId,jdbcType=CHAR},
      </if>
      <if test="activityId !=null">
      activity_id = #{activityId,jdbcType=CHAR},
      </if>
      <if test="addConsumeMoney !=null">
      add_consume_money = #{addConsumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="ruleResultType !=null">
      rule_result_type = #{ruleResultType,jdbcType=VARCHAR},
      </if>
      <if test="ruleResultValue !=null">
      rule_result_value = #{ruleResultValue,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc !=null">
      rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus !=null">
      publish_status = #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="auditNote !=null">
      audit_note = #{auditNote,jdbcType=CHAR},
      </if>
      <if test="ruleId !=null">
      rule_id = #{ruleId,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where rule_result_id = #{ruleResultId,jdbcType=CHAR}
  </update>

</mapper>
