<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.RuleConfigMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.RuleConfig" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="behave_type" property="behaveType" jdbcType="CHAR" />
    <result column="is_show_date_scope" property="isShowDateScope" jdbcType="CHAR" />
    <result column="is_show_week_scope" property="isShowWeekScope" jdbcType="CHAR" />
    <result column="is_show_time_scope" property="isShowTimeScope" jdbcType="CHAR" />
    <result column="is_show_vip_grade" property="isShowVipGrade" jdbcType="CHAR" />
    <result column="is_show_action_source" property="isShowActionSource" jdbcType="CHAR" />
    <result column="is_show_time" property="isShowTime" jdbcType="CHAR" />
    <result column="is_show_total_time" property="isShowTotalTime" jdbcType="CHAR" />
    <result column="is_show_marketing_goods_category" property="isShowMarketingGoodsCategory" jdbcType="CHAR" />
    <result column="is_show_marketing_goods_brand" property="isShowMarketingGoodsBrand" jdbcType="CHAR" />
    <result column="is_show_marketing_goods" property="isShowMarketingGoods" jdbcType="CHAR" />
    <result column="is_show_marketing_action" property="isShowMarketingAction" jdbcType="CHAR" />
    <result column="is_show_marketing_coupon" property="isShowMarketingCoupon" jdbcType="CHAR" />
    <result column="is_show_marketing_event" property="isShowMarketingEvent" jdbcType="CHAR" />
    <result column="is_show_server_tools" property="isShowServerTools" jdbcType="CHAR" />
    <result column="is_show_position" property="isShowPosition" jdbcType="CHAR" />
    <result column="is_show_duration" property="isShowDuration" jdbcType="CHAR" />
    <result column="is_show_consume_money" property="isShowConsumeMoney" jdbcType="CHAR" />
    <result column="is_show_vb" property="isShowVb" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      id, shop_id, behave_type, 
      is_show_date_scope, is_show_week_scope, is_show_time_scope, 
      is_show_vip_grade, is_show_action_source, is_show_time, 
      is_show_total_time, is_show_marketing_goods_category, is_show_marketing_goods_brand, 
      is_show_marketing_goods, is_show_marketing_action, is_show_marketing_coupon, 
      is_show_marketing_event, is_show_server_tools, is_show_position, 
      is_show_duration, is_show_consume_money, is_show_vb, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleConfigExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from rule_config
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleConfigExample" resultType="java.lang.Integer">
    select count(*) from rule_config
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.RuleConfigKey" >
    select 
      id, shop_id, behave_type, 
      is_show_date_scope, is_show_week_scope, is_show_time_scope, 
      is_show_vip_grade, is_show_action_source, is_show_time, 
      is_show_total_time, is_show_marketing_goods_category, is_show_marketing_goods_brand, 
      is_show_marketing_goods, is_show_marketing_action, is_show_marketing_coupon, 
      is_show_marketing_event, is_show_server_tools, is_show_position, 
      is_show_duration, is_show_consume_money, is_show_vb, 
      is_del, create_time, c_time_stamp
    from rule_config where id = #{id,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleConfigExample">
    delete from rule_config
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.RuleConfigKey" >
    delete from rule_config where id = #{id,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.RuleConfig" >
    insert into rule_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         id,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "behaveType != null">
         behave_type,
      </if>
      <if test= "isShowDateScope != null">
         is_show_date_scope,
      </if>
      <if test= "isShowWeekScope != null">
         is_show_week_scope,
      </if>
      <if test= "isShowTimeScope != null">
         is_show_time_scope,
      </if>
      <if test= "isShowVipGrade != null">
         is_show_vip_grade,
      </if>
      <if test= "isShowActionSource != null">
         is_show_action_source,
      </if>
      <if test= "isShowTime != null">
         is_show_time,
      </if>
      <if test= "isShowTotalTime != null">
         is_show_total_time,
      </if>
      <if test= "isShowMarketingGoodsCategory != null">
         is_show_marketing_goods_category,
      </if>
      <if test= "isShowMarketingGoodsBrand != null">
         is_show_marketing_goods_brand,
      </if>
      <if test= "isShowMarketingGoods != null">
         is_show_marketing_goods,
      </if>
      <if test= "isShowMarketingAction != null">
         is_show_marketing_action,
      </if>
      <if test= "isShowMarketingCoupon != null">
         is_show_marketing_coupon,
      </if>
      <if test= "isShowMarketingEvent != null">
         is_show_marketing_event,
      </if>
      <if test= "isShowServerTools != null">
         is_show_server_tools,
      </if>
      <if test= "isShowPosition != null">
         is_show_position,
      </if>
      <if test= "isShowDuration != null">
         is_show_duration,
      </if>
      <if test= "isShowConsumeMoney != null">
         is_show_consume_money,
      </if>
      <if test= "isShowVb != null">
         is_show_vb,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "id != null">
         #{id,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "behaveType != null">
         #{behaveType,jdbcType=CHAR},
      </if>
      <if test= "isShowDateScope != null">
         #{isShowDateScope,jdbcType=CHAR},
      </if>
      <if test= "isShowWeekScope != null">
         #{isShowWeekScope,jdbcType=CHAR},
      </if>
      <if test= "isShowTimeScope != null">
         #{isShowTimeScope,jdbcType=CHAR},
      </if>
      <if test= "isShowVipGrade != null">
         #{isShowVipGrade,jdbcType=CHAR},
      </if>
      <if test= "isShowActionSource != null">
         #{isShowActionSource,jdbcType=CHAR},
      </if>
      <if test= "isShowTime != null">
         #{isShowTime,jdbcType=CHAR},
      </if>
      <if test= "isShowTotalTime != null">
         #{isShowTotalTime,jdbcType=CHAR},
      </if>
      <if test= "isShowMarketingGoodsCategory != null">
         #{isShowMarketingGoodsCategory,jdbcType=CHAR},
      </if>
      <if test= "isShowMarketingGoodsBrand != null">
         #{isShowMarketingGoodsBrand,jdbcType=CHAR},
      </if>
      <if test= "isShowMarketingGoods != null">
         #{isShowMarketingGoods,jdbcType=CHAR},
      </if>
      <if test= "isShowMarketingAction != null">
         #{isShowMarketingAction,jdbcType=CHAR},
      </if>
      <if test= "isShowMarketingCoupon != null">
         #{isShowMarketingCoupon,jdbcType=CHAR},
      </if>
      <if test= "isShowMarketingEvent != null">
         #{isShowMarketingEvent,jdbcType=CHAR},
      </if>
      <if test= "isShowServerTools != null">
         #{isShowServerTools,jdbcType=CHAR},
      </if>
      <if test= "isShowPosition != null">
         #{isShowPosition,jdbcType=CHAR},
      </if>
      <if test= "isShowDuration != null">
         #{isShowDuration,jdbcType=CHAR},
      </if>
      <if test= "isShowConsumeMoney != null">
         #{isShowConsumeMoney,jdbcType=CHAR},
      </if>
      <if test= "isShowVb != null">
         #{isShowVb,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update rule_config
    <set>
        id = #{record.id,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        behave_type = #{record.behaveType,jdbcType=CHAR},
        is_show_date_scope = #{record.isShowDateScope,jdbcType=CHAR},
        is_show_week_scope = #{record.isShowWeekScope,jdbcType=CHAR},
        is_show_time_scope = #{record.isShowTimeScope,jdbcType=CHAR},
        is_show_vip_grade = #{record.isShowVipGrade,jdbcType=CHAR},
        is_show_action_source = #{record.isShowActionSource,jdbcType=CHAR},
        is_show_time = #{record.isShowTime,jdbcType=CHAR},
        is_show_total_time = #{record.isShowTotalTime,jdbcType=CHAR},
        is_show_marketing_goods_category = #{record.isShowMarketingGoodsCategory,jdbcType=CHAR},
        is_show_marketing_goods_brand = #{record.isShowMarketingGoodsBrand,jdbcType=CHAR},
        is_show_marketing_goods = #{record.isShowMarketingGoods,jdbcType=CHAR},
        is_show_marketing_action = #{record.isShowMarketingAction,jdbcType=CHAR},
        is_show_marketing_coupon = #{record.isShowMarketingCoupon,jdbcType=CHAR},
        is_show_marketing_event = #{record.isShowMarketingEvent,jdbcType=CHAR},
        is_show_server_tools = #{record.isShowServerTools,jdbcType=CHAR},
        is_show_position = #{record.isShowPosition,jdbcType=CHAR},
        is_show_duration = #{record.isShowDuration,jdbcType=CHAR},
        is_show_consume_money = #{record.isShowConsumeMoney,jdbcType=CHAR},
        is_show_vb = #{record.isShowVb,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update rule_config
    <set>
      <if test="record.id !=null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.behaveType !=null">
        behave_type = #{record.behaveType,jdbcType=CHAR},
      </if>
      <if test="record.isShowDateScope !=null">
        is_show_date_scope = #{record.isShowDateScope,jdbcType=CHAR},
      </if>
      <if test="record.isShowWeekScope !=null">
        is_show_week_scope = #{record.isShowWeekScope,jdbcType=CHAR},
      </if>
      <if test="record.isShowTimeScope !=null">
        is_show_time_scope = #{record.isShowTimeScope,jdbcType=CHAR},
      </if>
      <if test="record.isShowVipGrade !=null">
        is_show_vip_grade = #{record.isShowVipGrade,jdbcType=CHAR},
      </if>
      <if test="record.isShowActionSource !=null">
        is_show_action_source = #{record.isShowActionSource,jdbcType=CHAR},
      </if>
      <if test="record.isShowTime !=null">
        is_show_time = #{record.isShowTime,jdbcType=CHAR},
      </if>
      <if test="record.isShowTotalTime !=null">
        is_show_total_time = #{record.isShowTotalTime,jdbcType=CHAR},
      </if>
      <if test="record.isShowMarketingGoodsCategory !=null">
        is_show_marketing_goods_category = #{record.isShowMarketingGoodsCategory,jdbcType=CHAR},
      </if>
      <if test="record.isShowMarketingGoodsBrand !=null">
        is_show_marketing_goods_brand = #{record.isShowMarketingGoodsBrand,jdbcType=CHAR},
      </if>
      <if test="record.isShowMarketingGoods !=null">
        is_show_marketing_goods = #{record.isShowMarketingGoods,jdbcType=CHAR},
      </if>
      <if test="record.isShowMarketingAction !=null">
        is_show_marketing_action = #{record.isShowMarketingAction,jdbcType=CHAR},
      </if>
      <if test="record.isShowMarketingCoupon !=null">
        is_show_marketing_coupon = #{record.isShowMarketingCoupon,jdbcType=CHAR},
      </if>
      <if test="record.isShowMarketingEvent !=null">
        is_show_marketing_event = #{record.isShowMarketingEvent,jdbcType=CHAR},
      </if>
      <if test="record.isShowServerTools !=null">
        is_show_server_tools = #{record.isShowServerTools,jdbcType=CHAR},
      </if>
      <if test="record.isShowPosition !=null">
        is_show_position = #{record.isShowPosition,jdbcType=CHAR},
      </if>
      <if test="record.isShowDuration !=null">
        is_show_duration = #{record.isShowDuration,jdbcType=CHAR},
      </if>
      <if test="record.isShowConsumeMoney !=null">
        is_show_consume_money = #{record.isShowConsumeMoney,jdbcType=CHAR},
      </if>
      <if test="record.isShowVb !=null">
        is_show_vb = #{record.isShowVb,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.RuleConfig" >
    update rule_config
    <set>
      <if test="id !=null">
      id = #{id,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="behaveType !=null">
      behave_type = #{behaveType,jdbcType=CHAR},
      </if>
      <if test="isShowDateScope !=null">
      is_show_date_scope = #{isShowDateScope,jdbcType=CHAR},
      </if>
      <if test="isShowWeekScope !=null">
      is_show_week_scope = #{isShowWeekScope,jdbcType=CHAR},
      </if>
      <if test="isShowTimeScope !=null">
      is_show_time_scope = #{isShowTimeScope,jdbcType=CHAR},
      </if>
      <if test="isShowVipGrade !=null">
      is_show_vip_grade = #{isShowVipGrade,jdbcType=CHAR},
      </if>
      <if test="isShowActionSource !=null">
      is_show_action_source = #{isShowActionSource,jdbcType=CHAR},
      </if>
      <if test="isShowTime !=null">
      is_show_time = #{isShowTime,jdbcType=CHAR},
      </if>
      <if test="isShowTotalTime !=null">
      is_show_total_time = #{isShowTotalTime,jdbcType=CHAR},
      </if>
      <if test="isShowMarketingGoodsCategory !=null">
      is_show_marketing_goods_category = #{isShowMarketingGoodsCategory,jdbcType=CHAR},
      </if>
      <if test="isShowMarketingGoodsBrand !=null">
      is_show_marketing_goods_brand = #{isShowMarketingGoodsBrand,jdbcType=CHAR},
      </if>
      <if test="isShowMarketingGoods !=null">
      is_show_marketing_goods = #{isShowMarketingGoods,jdbcType=CHAR},
      </if>
      <if test="isShowMarketingAction !=null">
      is_show_marketing_action = #{isShowMarketingAction,jdbcType=CHAR},
      </if>
      <if test="isShowMarketingCoupon !=null">
      is_show_marketing_coupon = #{isShowMarketingCoupon,jdbcType=CHAR},
      </if>
      <if test="isShowMarketingEvent !=null">
      is_show_marketing_event = #{isShowMarketingEvent,jdbcType=CHAR},
      </if>
      <if test="isShowServerTools !=null">
      is_show_server_tools = #{isShowServerTools,jdbcType=CHAR},
      </if>
      <if test="isShowPosition !=null">
      is_show_position = #{isShowPosition,jdbcType=CHAR},
      </if>
      <if test="isShowDuration !=null">
      is_show_duration = #{isShowDuration,jdbcType=CHAR},
      </if>
      <if test="isShowConsumeMoney !=null">
      is_show_consume_money = #{isShowConsumeMoney,jdbcType=CHAR},
      </if>
      <if test="isShowVb !=null">
      is_show_vb = #{isShowVb,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>
