<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.business.marketing.activity.MarketingActivityAdapterMapper">
	<resultMap id="BaseResultMap" type="com.gooagoo.entity.business.marketing.activity.MarketingActivityAdapter">
		<id column="activity_id" property="activityId" jdbcType="CHAR" />
		<result column="shop_type_root" property="shopTypeRoot" jdbcType="CHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="MarketingActivityMap" type="com.gooagoo.entity.generator.marketing.MarketingActivity">
		<id column="activity_id" property="activityId" jdbcType="CHAR" />
		<result column="shop_id" property="shopId" jdbcType="CHAR" />
		<result column="activity_name" property="activityName" jdbcType="CHAR" />
		<result column="title" property="title" jdbcType="CHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="purpose" property="purpose" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="template_id" property="templateId" jdbcType="CHAR" />
		<result column="template_data" property="templateData" jdbcType="VARCHAR" />
		<result column="publish_status" property="publishStatus" jdbcType="CHAR" />
		<result column="note" property="note" jdbcType="VARCHAR" />
		<result column="is_del" property="isDel" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 按时间查询营销活动信息 -->
	<select id="findActityAdapterByDate" resultMap="BaseResultMap">
		select
		a.is_del,a.activity_id,a.start_time,a.end_time,b.shop_type_root
		from
		gooagoo_marketing.marketing_activity a
		left join
		gooagoo_shop.shop_info b
		on a.shop_id=b.shop_id
		<trim prefix="where" prefixOverrides="and | or">
			(STR_TO_DATE(#{firstdate},'%Y-%m-%d') between a.start_time and
			a.end_time
			or
			(STR_TO_DATE(#{lastdate},'%Y-%m-%d') between
			a.start_time and a.end_time))
			and a.is_del = 'N'
		</trim>
	</select>
	
	<!-- 按时间段查询营销活动信息 -->
	<select id="findActityByTimeScope" resultMap="MarketingActivityMap">
		select
		*
		from gooagoo_marketing.marketing_activity
		where
		(STR_TO_DATE(#{startDate},'%Y-%m-%D') between start_time and end_time or
		STR_TO_DATE(#{endDate},'%Y-%m-%D') between start_time and end_time)
		and is_del = 'N'
		<if test="pageIndex!=null">
			limit #{pageIndex}
			<if test="pageSize!=null">
			,#{pageSize}
			</if>
		</if>
	</select>

</mapper>
