<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.business.marketing.rule.RuleResultAdapterMapper">
	<resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.RuleResult">
	    <id column="rule_result_id" property="ruleResultId" jdbcType="CHAR" />
	    <result column="activity_id" property="activityId" jdbcType="CHAR" />
	    <result column="add_consume_money" property="addConsumeMoney" jdbcType="DOUBLE" />
	    <result column="rule_result_type" property="ruleResultType" jdbcType="VARCHAR" />
	    <result column="rule_result_value" property="ruleResultValue" jdbcType="VARCHAR" />
	    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
	    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
	    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
	    <result column="rule_id" property="ruleId" jdbcType="CHAR" />
	    <result column="is_del" property="isDel" jdbcType="CHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  	</resultMap>

	<select id="findRuleResult" resultMap="BaseResultMap">
		SELECT
		    r.*
		FROM
		    gooagoo_marketing.rule_result r
		INNER JOIN rule_info i ON r.rule_id = i.rule_id
		WHERE
		    i.is_del = 'N'
		AND i.publish_status = 'P'
		AND i.crowd_type IN ('1', '2')
		AND i.start_time &lt;= SYSDATE()
		AND i.end_time >= SYSDATE();
	</select>
</mapper>
