<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.business.goods.info.GoodsInfoAdapterMapper">

	<!-- 按品类,商品名称,商家,区域编号查询营销活动信息 -->
	<select id="findGoodsInfoByCategory" resultType="java.lang.String">
		SELECT
		base.goods_id
		FROM 
		gooagoo_goods.goods_base_info base
		LEFT JOIN 
		gooagoo_goods.goods_marketing_info marketing
		ON base.goods_id=marketing.goods_id
		WHERE
		base.is_del='N'
		<if test= "shopId != null">
         AND base.shop_id=#{shopId}
    	</if>
		<if test= "goodsName != null">
         AND base.goods_name LIKE CONCAT('%',#{goodsName},'%')
    	</if>
		<if test= "positionId != null">
         AND marketing.position_id=#{positionId}
    	</if>
		<if test= "categoryIdList != null">
         AND base.goods_category_leaf IN 
         	<foreach collection="categoryIdList" item="item" open="("  close=")" separator=",">
            	#{item}
            </foreach>
    	</if>
    	<if test="pageSize !=null" >
	      limit 
	       <if test="pageIndex !=null" >
	       		${pageIndex},
	       </if>
	       ${pageSize}
	    </if>
	</select>

</mapper>
