<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="dao/generator/bill/BillAddInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/BillInvoiceLog-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/BillManual-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/BillPayApplication-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OrderCouponInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OrderDetailInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OrderInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OrderPic-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OriginalBillDetail-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OriginalBillInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/OriginalBillPic-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/ShopOrderDetail-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/ShopOrderInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/ShopOrderPic-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/ShoppingCart-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/UserOrderCoupon-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/UserOrderDetail-Mapper.xml" /> 
    <mapper resource="dao/generator/bill/UserOrderInfo-Mapper.xml" /> 
  </mappers>
</configuration>
