<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="dao/generator/shop/AreaPara-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/DeviceAssistant-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/DeviceTransponder-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/DeviceWifisensor-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/GeneratrixInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/SectionLineInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ServiceToolSort-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopAuthority-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopEmailactiveCode-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopEntityInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopEntityLink-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopGpsInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopInvoiceInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopLidDetail-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopLidInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopPosition-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopRole-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopRole2-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopRoleAuthority-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopRoleAuthority2-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopTableInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopTableTypeManage-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopToolList-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopUserInfo-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopUserRole-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopUserRole2-Mapper.xml" /> 
    <mapper resource="dao/generator/shop/ShopWifiinfo-Mapper.xml" /> 
  </mappers>
</configuration>
