<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.Coupon" >
    <id column="coupon_id" property="couponId" jdbcType="CHAR" />
    <result column="coupon_name" property="couponName" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="publish_start_time" property="publishStartTime" jdbcType="TIMESTAMP" />
    <result column="publish_end_time" property="publishEndTime" jdbcType="TIMESTAMP" />
    <result column="use_start_time" property="useStartTime" jdbcType="TIMESTAMP" />
    <result column="use_end_time" property="useEndTime" jdbcType="TIMESTAMP" />
    <result column="coupon_mode" property="couponMode" jdbcType="CHAR" />
    <result column="coupon_type" property="couponType" jdbcType="CHAR" />
    <result column="coupon_value" property="couponValue" jdbcType="DOUBLE" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="max_num_owner" property="maxNumOwner" jdbcType="INTEGER" />
    <result column="coupon_url" property="couponUrl" jdbcType="CHAR" />
    <result column="coupon_content" property="couponContent" jdbcType="VARCHAR" />
    <result column="coupon_channle" property="couponChannle" jdbcType="CHAR" />
    <result column="coupon_source" property="couponSource" jdbcType="CHAR" />
    <result column="check_json" property="checkJson" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="CHAR" />
    <result column="template_data" property="templateData" jdbcType="VARCHAR" />
    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      coupon_id, coupon_name, shop_id, 
      publish_start_time, publish_end_time, use_start_time, 
      use_end_time, coupon_mode, coupon_type, 
      coupon_value, amount, max_num_owner, 
      coupon_url, coupon_content, coupon_channle, 
      coupon_source, check_json, template_id, 
      template_data, publish_status, audit_note, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.CouponExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from coupon
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.CouponExample" resultType="java.lang.Integer">
    select count(*) from coupon
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.CouponKey" >
    select 
      coupon_id, coupon_name, shop_id, 
      publish_start_time, publish_end_time, use_start_time, 
      use_end_time, coupon_mode, coupon_type, 
      coupon_value, amount, max_num_owner, 
      coupon_url, coupon_content, coupon_channle, 
      coupon_source, check_json, template_id, 
      template_data, publish_status, audit_note, 
      is_del, create_time, c_time_stamp
    from coupon where coupon_id = #{couponId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.CouponExample">
    delete from coupon
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.CouponKey" >
    delete from coupon where coupon_id = #{couponId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.Coupon" >
    insert into coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "couponId != null">
         coupon_id,
      </if>
      <if test= "couponName != null">
         coupon_name,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "publishStartTime != null">
         publish_start_time,
      </if>
      <if test= "publishEndTime != null">
         publish_end_time,
      </if>
      <if test= "useStartTime != null">
         use_start_time,
      </if>
      <if test= "useEndTime != null">
         use_end_time,
      </if>
      <if test= "couponMode != null">
         coupon_mode,
      </if>
      <if test= "couponType != null">
         coupon_type,
      </if>
      <if test= "couponValue != null">
         coupon_value,
      </if>
      <if test= "amount != null">
         amount,
      </if>
      <if test= "maxNumOwner != null">
         max_num_owner,
      </if>
      <if test= "couponUrl != null">
         coupon_url,
      </if>
      <if test= "couponContent != null">
         coupon_content,
      </if>
      <if test= "couponChannle != null">
         coupon_channle,
      </if>
      <if test= "couponSource != null">
         coupon_source,
      </if>
      <if test= "checkJson != null">
         check_json,
      </if>
      <if test= "templateId != null">
         template_id,
      </if>
      <if test= "templateData != null">
         template_data,
      </if>
      <if test= "publishStatus != null">
         publish_status,
      </if>
      <if test= "auditNote != null">
         audit_note,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "couponId != null">
         #{couponId,jdbcType=CHAR},
      </if>
      <if test= "couponName != null">
         #{couponName,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "publishStartTime != null">
         #{publishStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "publishEndTime != null">
         #{publishEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "useStartTime != null">
         #{useStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "useEndTime != null">
         #{useEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "couponMode != null">
         #{couponMode,jdbcType=CHAR},
      </if>
      <if test= "couponType != null">
         #{couponType,jdbcType=CHAR},
      </if>
      <if test= "couponValue != null">
         #{couponValue,jdbcType=DOUBLE},
      </if>
      <if test= "amount != null">
         #{amount,jdbcType=INTEGER},
      </if>
      <if test= "maxNumOwner != null">
         #{maxNumOwner,jdbcType=INTEGER},
      </if>
      <if test= "couponUrl != null">
         #{couponUrl,jdbcType=CHAR},
      </if>
      <if test= "couponContent != null">
         #{couponContent,jdbcType=VARCHAR},
      </if>
      <if test= "couponChannle != null">
         #{couponChannle,jdbcType=CHAR},
      </if>
      <if test= "couponSource != null">
         #{couponSource,jdbcType=CHAR},
      </if>
      <if test= "checkJson != null">
         #{checkJson,jdbcType=VARCHAR},
      </if>
      <if test= "templateId != null">
         #{templateId,jdbcType=CHAR},
      </if>
      <if test= "templateData != null">
         #{templateData,jdbcType=VARCHAR},
      </if>
      <if test= "publishStatus != null">
         #{publishStatus,jdbcType=CHAR},
      </if>
      <if test= "auditNote != null">
         #{auditNote,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update coupon
    <set>
        coupon_id = #{record.couponId,jdbcType=CHAR},
        coupon_name = #{record.couponName,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        publish_start_time = #{record.publishStartTime,jdbcType=TIMESTAMP},
        publish_end_time = #{record.publishEndTime,jdbcType=TIMESTAMP},
        use_start_time = #{record.useStartTime,jdbcType=TIMESTAMP},
        use_end_time = #{record.useEndTime,jdbcType=TIMESTAMP},
        coupon_mode = #{record.couponMode,jdbcType=CHAR},
        coupon_type = #{record.couponType,jdbcType=CHAR},
        coupon_value = #{record.couponValue,jdbcType=DOUBLE},
        amount = #{record.amount,jdbcType=INTEGER},
        max_num_owner = #{record.maxNumOwner,jdbcType=INTEGER},
        coupon_url = #{record.couponUrl,jdbcType=CHAR},
        coupon_content = #{record.couponContent,jdbcType=VARCHAR},
        coupon_channle = #{record.couponChannle,jdbcType=CHAR},
        coupon_source = #{record.couponSource,jdbcType=CHAR},
        check_json = #{record.checkJson,jdbcType=VARCHAR},
        template_id = #{record.templateId,jdbcType=CHAR},
        template_data = #{record.templateData,jdbcType=VARCHAR},
        publish_status = #{record.publishStatus,jdbcType=CHAR},
        audit_note = #{record.auditNote,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update coupon
    <set>
      <if test="record.couponId !=null">
        coupon_id = #{record.couponId,jdbcType=CHAR},
      </if>
      <if test="record.couponName !=null">
        coupon_name = #{record.couponName,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.publishStartTime !=null">
        publish_start_time = #{record.publishStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publishEndTime !=null">
        publish_end_time = #{record.publishEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useStartTime !=null">
        use_start_time = #{record.useStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useEndTime !=null">
        use_end_time = #{record.useEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.couponMode !=null">
        coupon_mode = #{record.couponMode,jdbcType=CHAR},
      </if>
      <if test="record.couponType !=null">
        coupon_type = #{record.couponType,jdbcType=CHAR},
      </if>
      <if test="record.couponValue !=null">
        coupon_value = #{record.couponValue,jdbcType=DOUBLE},
      </if>
      <if test="record.amount !=null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.maxNumOwner !=null">
        max_num_owner = #{record.maxNumOwner,jdbcType=INTEGER},
      </if>
      <if test="record.couponUrl !=null">
        coupon_url = #{record.couponUrl,jdbcType=CHAR},
      </if>
      <if test="record.couponContent !=null">
        coupon_content = #{record.couponContent,jdbcType=VARCHAR},
      </if>
      <if test="record.couponChannle !=null">
        coupon_channle = #{record.couponChannle,jdbcType=CHAR},
      </if>
      <if test="record.couponSource !=null">
        coupon_source = #{record.couponSource,jdbcType=CHAR},
      </if>
      <if test="record.checkJson !=null">
        check_json = #{record.checkJson,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId !=null">
        template_id = #{record.templateId,jdbcType=CHAR},
      </if>
      <if test="record.templateData !=null">
        template_data = #{record.templateData,jdbcType=VARCHAR},
      </if>
      <if test="record.publishStatus !=null">
        publish_status = #{record.publishStatus,jdbcType=CHAR},
      </if>
      <if test="record.auditNote !=null">
        audit_note = #{record.auditNote,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.Coupon" >
    update coupon
    <set>
      <if test="couponId !=null">
      coupon_id = #{couponId,jdbcType=CHAR},
      </if>
      <if test="couponName !=null">
      coupon_name = #{couponName,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="publishStartTime !=null">
      publish_start_time = #{publishStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishEndTime !=null">
      publish_end_time = #{publishEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useStartTime !=null">
      use_start_time = #{useStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useEndTime !=null">
      use_end_time = #{useEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponMode !=null">
      coupon_mode = #{couponMode,jdbcType=CHAR},
      </if>
      <if test="couponType !=null">
      coupon_type = #{couponType,jdbcType=CHAR},
      </if>
      <if test="couponValue !=null">
      coupon_value = #{couponValue,jdbcType=DOUBLE},
      </if>
      <if test="amount !=null">
      amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="maxNumOwner !=null">
      max_num_owner = #{maxNumOwner,jdbcType=INTEGER},
      </if>
      <if test="couponUrl !=null">
      coupon_url = #{couponUrl,jdbcType=CHAR},
      </if>
      <if test="couponContent !=null">
      coupon_content = #{couponContent,jdbcType=VARCHAR},
      </if>
      <if test="couponChannle !=null">
      coupon_channle = #{couponChannle,jdbcType=CHAR},
      </if>
      <if test="couponSource !=null">
      coupon_source = #{couponSource,jdbcType=CHAR},
      </if>
      <if test="checkJson !=null">
      check_json = #{checkJson,jdbcType=VARCHAR},
      </if>
      <if test="templateId !=null">
      template_id = #{templateId,jdbcType=CHAR},
      </if>
      <if test="templateData !=null">
      template_data = #{templateData,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus !=null">
      publish_status = #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="auditNote !=null">
      audit_note = #{auditNote,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where coupon_id = #{couponId,jdbcType=CHAR}
  </update>

</mapper>
