<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.marketing.RuleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.marketing.RuleInfo" >
    <id column="rule_id" property="ruleId" jdbcType="CHAR" />
    <result column="rule_name" property="ruleName" jdbcType="CHAR" />
    <result column="shop_id" property="shopId" jdbcType="CHAR" />
    <result column="activity_id" property="activityId" jdbcType="CHAR" />
    <result column="rule_type" property="ruleType" jdbcType="CHAR" />
    <result column="rule_active_type" property="ruleActiveType" jdbcType="CHAR" />
    <result column="object_id" property="objectId" jdbcType="CHAR" />
    <result column="is_active_forever" property="isActiveForever" jdbcType="CHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="crowd_type" property="crowdType" jdbcType="CHAR" />
    <result column="is_publish_immediately" property="isPublishImmediately" jdbcType="CHAR" />
    <result column="expect_publish_time" property="expectPublishTime" jdbcType="TIMESTAMP" />
    <result column="actual_publish_time" property="actualPublishTime" jdbcType="TIMESTAMP" />
    <result column="rule_content" property="ruleContent" jdbcType="VARCHAR" />
    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
    <result column="audit_note" property="auditNote" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      rule_id, rule_name, shop_id, 
      activity_id, rule_type, rule_active_type, 
      object_id, is_active_forever, start_time, 
      end_time, crowd_type, is_publish_immediately, 
      expect_publish_time, actual_publish_time, rule_content, 
      publish_status, audit_note, is_del, 
      create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from rule_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleInfoExample" resultType="java.lang.Integer">
    select count(*) from rule_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.marketing.RuleInfoKey" >
    select 
      rule_id, rule_name, shop_id, 
      activity_id, rule_type, rule_active_type, 
      object_id, is_active_forever, start_time, 
      end_time, crowd_type, is_publish_immediately, 
      expect_publish_time, actual_publish_time, rule_content, 
      publish_status, audit_note, is_del, 
      create_time, c_time_stamp
    from rule_info where rule_id = #{ruleId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.marketing.RuleInfoExample">
    delete from rule_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.marketing.RuleInfoKey" >
    delete from rule_info where rule_id = #{ruleId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.marketing.RuleInfo" >
    insert into rule_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "ruleId != null">
         rule_id,
      </if>
      <if test= "ruleName != null">
         rule_name,
      </if>
      <if test= "shopId != null">
         shop_id,
      </if>
      <if test= "activityId != null">
         activity_id,
      </if>
      <if test= "ruleType != null">
         rule_type,
      </if>
      <if test= "ruleActiveType != null">
         rule_active_type,
      </if>
      <if test= "objectId != null">
         object_id,
      </if>
      <if test= "isActiveForever != null">
         is_active_forever,
      </if>
      <if test= "startTime != null">
         start_time,
      </if>
      <if test= "endTime != null">
         end_time,
      </if>
      <if test= "crowdType != null">
         crowd_type,
      </if>
      <if test= "isPublishImmediately != null">
         is_publish_immediately,
      </if>
      <if test= "expectPublishTime != null">
         expect_publish_time,
      </if>
      <if test= "actualPublishTime != null">
         actual_publish_time,
      </if>
      <if test= "ruleContent != null">
         rule_content,
      </if>
      <if test= "publishStatus != null">
         publish_status,
      </if>
      <if test= "auditNote != null">
         audit_note,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "ruleId != null">
         #{ruleId,jdbcType=CHAR},
      </if>
      <if test= "ruleName != null">
         #{ruleName,jdbcType=CHAR},
      </if>
      <if test= "shopId != null">
         #{shopId,jdbcType=CHAR},
      </if>
      <if test= "activityId != null">
         #{activityId,jdbcType=CHAR},
      </if>
      <if test= "ruleType != null">
         #{ruleType,jdbcType=CHAR},
      </if>
      <if test= "ruleActiveType != null">
         #{ruleActiveType,jdbcType=CHAR},
      </if>
      <if test= "objectId != null">
         #{objectId,jdbcType=CHAR},
      </if>
      <if test= "isActiveForever != null">
         #{isActiveForever,jdbcType=CHAR},
      </if>
      <if test= "startTime != null">
         #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "endTime != null">
         #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "crowdType != null">
         #{crowdType,jdbcType=CHAR},
      </if>
      <if test= "isPublishImmediately != null">
         #{isPublishImmediately,jdbcType=CHAR},
      </if>
      <if test= "expectPublishTime != null">
         #{expectPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "actualPublishTime != null">
         #{actualPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "ruleContent != null">
         #{ruleContent,jdbcType=VARCHAR},
      </if>
      <if test= "publishStatus != null">
         #{publishStatus,jdbcType=CHAR},
      </if>
      <if test= "auditNote != null">
         #{auditNote,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP()
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update rule_info
    <set>
        rule_id = #{record.ruleId,jdbcType=CHAR},
        rule_name = #{record.ruleName,jdbcType=CHAR},
        shop_id = #{record.shopId,jdbcType=CHAR},
        activity_id = #{record.activityId,jdbcType=CHAR},
        rule_type = #{record.ruleType,jdbcType=CHAR},
        rule_active_type = #{record.ruleActiveType,jdbcType=CHAR},
        object_id = #{record.objectId,jdbcType=CHAR},
        is_active_forever = #{record.isActiveForever,jdbcType=CHAR},
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
        crowd_type = #{record.crowdType,jdbcType=CHAR},
        is_publish_immediately = #{record.isPublishImmediately,jdbcType=CHAR},
        expect_publish_time = #{record.expectPublishTime,jdbcType=TIMESTAMP},
        actual_publish_time = #{record.actualPublishTime,jdbcType=TIMESTAMP},
        rule_content = #{record.ruleContent,jdbcType=VARCHAR},
        publish_status = #{record.publishStatus,jdbcType=CHAR},
        audit_note = #{record.auditNote,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update rule_info
    <set>
      <if test="record.ruleId !=null">
        rule_id = #{record.ruleId,jdbcType=CHAR},
      </if>
      <if test="record.ruleName !=null">
        rule_name = #{record.ruleName,jdbcType=CHAR},
      </if>
      <if test="record.shopId !=null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.activityId !=null">
        activity_id = #{record.activityId,jdbcType=CHAR},
      </if>
      <if test="record.ruleType !=null">
        rule_type = #{record.ruleType,jdbcType=CHAR},
      </if>
      <if test="record.ruleActiveType !=null">
        rule_active_type = #{record.ruleActiveType,jdbcType=CHAR},
      </if>
      <if test="record.objectId !=null">
        object_id = #{record.objectId,jdbcType=CHAR},
      </if>
      <if test="record.isActiveForever !=null">
        is_active_forever = #{record.isActiveForever,jdbcType=CHAR},
      </if>
      <if test="record.startTime !=null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime !=null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crowdType !=null">
        crowd_type = #{record.crowdType,jdbcType=CHAR},
      </if>
      <if test="record.isPublishImmediately !=null">
        is_publish_immediately = #{record.isPublishImmediately,jdbcType=CHAR},
      </if>
      <if test="record.expectPublishTime !=null">
        expect_publish_time = #{record.expectPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualPublishTime !=null">
        actual_publish_time = #{record.actualPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ruleContent !=null">
        rule_content = #{record.ruleContent,jdbcType=VARCHAR},
      </if>
      <if test="record.publishStatus !=null">
        publish_status = #{record.publishStatus,jdbcType=CHAR},
      </if>
      <if test="record.auditNote !=null">
        audit_note = #{record.auditNote,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.marketing.RuleInfo" >
    update rule_info
    <set>
      <if test="ruleId !=null">
      rule_id = #{ruleId,jdbcType=CHAR},
      </if>
      <if test="ruleName !=null">
      rule_name = #{ruleName,jdbcType=CHAR},
      </if>
      <if test="shopId !=null">
      shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="activityId !=null">
      activity_id = #{activityId,jdbcType=CHAR},
      </if>
      <if test="ruleType !=null">
      rule_type = #{ruleType,jdbcType=CHAR},
      </if>
      <if test="ruleActiveType !=null">
      rule_active_type = #{ruleActiveType,jdbcType=CHAR},
      </if>
      <if test="objectId !=null">
      object_id = #{objectId,jdbcType=CHAR},
      </if>
      <if test="isActiveForever !=null">
      is_active_forever = #{isActiveForever,jdbcType=CHAR},
      </if>
      <if test="startTime !=null">
      start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime !=null">
      end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crowdType !=null">
      crowd_type = #{crowdType,jdbcType=CHAR},
      </if>
      <if test="isPublishImmediately !=null">
      is_publish_immediately = #{isPublishImmediately,jdbcType=CHAR},
      </if>
      <if test="expectPublishTime !=null">
      expect_publish_time = #{expectPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPublishTime !=null">
      actual_publish_time = #{actualPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ruleContent !=null">
      rule_content = #{ruleContent,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus !=null">
      publish_status = #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="auditNote !=null">
      audit_note = #{auditNote,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=CHAR}
  </update>

</mapper>
