<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.base.ShopToolInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.base.ShopToolInfo" >
    <id column="tool_id" property="toolId" jdbcType="CHAR" />
    <result column="tool_name" property="toolName" jdbcType="CHAR" />
    <result column="tool_url" property="toolUrl" jdbcType="CHAR" />
    <result column="tool_ico_focus" property="toolIcoFocus" jdbcType="CHAR" />
    <result column="tool_ico_unfocus" property="toolIcoUnfocus" jdbcType="CHAR" />
    <result column="tool_type" property="toolType" jdbcType="CHAR" />
    <result column="local_cmd" property="localCmd" jdbcType="CHAR" />
    <result column="ver" property="ver" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      tool_id, tool_name, tool_url, 
      tool_ico_focus, tool_ico_unfocus, tool_type, 
      local_cmd, ver, remark, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.base.ShopToolInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from shop_tool_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.base.ShopToolInfoExample" resultType="java.lang.Integer">
    select count(*) from shop_tool_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.base.ShopToolInfoKey" >
    select 
      tool_id, tool_name, tool_url, 
      tool_ico_focus, tool_ico_unfocus, tool_type, 
      local_cmd, ver, remark, 
      is_del, create_time, c_time_stamp
    from shop_tool_info where tool_id = #{toolId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.base.ShopToolInfoExample">
    delete from shop_tool_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.base.ShopToolInfoKey" >
    delete from shop_tool_info where tool_id = #{toolId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.base.ShopToolInfo" >
    insert into shop_tool_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "toolId != null">
         tool_id,
      </if>
      <if test= "toolName != null">
         tool_name,
      </if>
      <if test= "toolUrl != null">
         tool_url,
      </if>
      <if test= "toolIcoFocus != null">
         tool_ico_focus,
      </if>
      <if test= "toolIcoUnfocus != null">
         tool_ico_unfocus,
      </if>
      <if test= "toolType != null">
         tool_type,
      </if>
      <if test= "localCmd != null">
         local_cmd,
      </if>
      <if test= "ver != null">
         ver,
      </if>
      <if test= "remark != null">
         remark,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "toolId != null">
         #{toolId,jdbcType=CHAR},
      </if>
      <if test= "toolName != null">
         #{toolName,jdbcType=CHAR},
      </if>
      <if test= "toolUrl != null">
         #{toolUrl,jdbcType=CHAR},
      </if>
      <if test= "toolIcoFocus != null">
         #{toolIcoFocus,jdbcType=CHAR},
      </if>
      <if test= "toolIcoUnfocus != null">
         #{toolIcoUnfocus,jdbcType=CHAR},
      </if>
      <if test= "toolType != null">
         #{toolType,jdbcType=CHAR},
      </if>
      <if test= "localCmd != null">
         #{localCmd,jdbcType=CHAR},
      </if>
      <if test= "ver != null">
         #{ver,jdbcType=CHAR},
      </if>
      <if test= "remark != null">
         #{remark,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update shop_tool_info
    <set>
        tool_id = #{record.toolId,jdbcType=CHAR},
        tool_name = #{record.toolName,jdbcType=CHAR},
        tool_url = #{record.toolUrl,jdbcType=CHAR},
        tool_ico_focus = #{record.toolIcoFocus,jdbcType=CHAR},
        tool_ico_unfocus = #{record.toolIcoUnfocus,jdbcType=CHAR},
        tool_type = #{record.toolType,jdbcType=CHAR},
        local_cmd = #{record.localCmd,jdbcType=CHAR},
        ver = #{record.ver,jdbcType=CHAR},
        remark = #{record.remark,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update shop_tool_info
    <set>
      <if test="record.toolId !=null">
        tool_id = #{record.toolId,jdbcType=CHAR},
      </if>
      <if test="record.toolName !=null">
        tool_name = #{record.toolName,jdbcType=CHAR},
      </if>
      <if test="record.toolUrl !=null">
        tool_url = #{record.toolUrl,jdbcType=CHAR},
      </if>
      <if test="record.toolIcoFocus !=null">
        tool_ico_focus = #{record.toolIcoFocus,jdbcType=CHAR},
      </if>
      <if test="record.toolIcoUnfocus !=null">
        tool_ico_unfocus = #{record.toolIcoUnfocus,jdbcType=CHAR},
      </if>
      <if test="record.toolType !=null">
        tool_type = #{record.toolType,jdbcType=CHAR},
      </if>
      <if test="record.localCmd !=null">
        local_cmd = #{record.localCmd,jdbcType=CHAR},
      </if>
      <if test="record.ver !=null">
        ver = #{record.ver,jdbcType=CHAR},
      </if>
      <if test="record.remark !=null">
        remark = #{record.remark,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.base.ShopToolInfo" >
    update shop_tool_info
    <set>
      <if test="toolId !=null">
      tool_id = #{toolId,jdbcType=CHAR},
      </if>
      <if test="toolName !=null">
      tool_name = #{toolName,jdbcType=CHAR},
      </if>
      <if test="toolUrl !=null">
      tool_url = #{toolUrl,jdbcType=CHAR},
      </if>
      <if test="toolIcoFocus !=null">
      tool_ico_focus = #{toolIcoFocus,jdbcType=CHAR},
      </if>
      <if test="toolIcoUnfocus !=null">
      tool_ico_unfocus = #{toolIcoUnfocus,jdbcType=CHAR},
      </if>
      <if test="toolType !=null">
      tool_type = #{toolType,jdbcType=CHAR},
      </if>
      <if test="localCmd !=null">
      local_cmd = #{localCmd,jdbcType=CHAR},
      </if>
      <if test="ver !=null">
      ver = #{ver,jdbcType=CHAR},
      </if>
      <if test="remark !=null">
      remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where tool_id = #{toolId,jdbcType=CHAR}
  </update>

</mapper>
