<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.user.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.user.UserInfo" >
    <id column="user_id" property="userId" jdbcType="CHAR" />
    <result column="account" property="account" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="user_status" property="userStatus" jdbcType="CHAR" />
    <result column="user_num" property="userNum" jdbcType="CHAR" />
    <result column="is_active_email" property="isActiveEmail" jdbcType="CHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      user_id, account, mobile, 
      email, password, user_type, 
      user_status, user_num, is_active_email, 
      is_del, create_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.user.UserInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.user.UserInfoExample" resultType="java.lang.Integer">
    select count(*) from user_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.user.UserInfoKey" >
    select 
      user_id, account, mobile, 
      email, password, user_type, 
      user_status, user_num, is_active_email, 
      is_del, create_time, c_time_stamp
    from user_info where user_id = #{userId,jdbcType=CHAR}
      <if test= "isDel != null">
         and is_del=#{isDel}
      </if>
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.user.UserInfoExample">
    delete from user_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.user.UserInfoKey" >
    delete from user_info where user_id = #{userId,jdbcType=CHAR}
    <if test= "isDel != null">
        and is_del=#{isDel}
    </if>
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.user.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "account != null">
         account,
      </if>
      <if test= "mobile != null">
         mobile,
      </if>
      <if test= "email != null">
         email,
      </if>
      <if test= "password != null">
         password,
      </if>
      <if test= "userType != null">
         user_type,
      </if>
      <if test= "userStatus != null">
         user_status,
      </if>
      <if test= "userNum != null">
         user_num,
      </if>
      <if test= "isActiveEmail != null">
         is_active_email,
      </if>
      <if test= "isDel != null">
         is_del,
      </if>
      <if test= "createTime != null">
         create_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "createTime == null">
         create_time,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "account != null">
         #{account,jdbcType=CHAR},
      </if>
      <if test= "mobile != null">
         #{mobile,jdbcType=CHAR},
      </if>
      <if test= "email != null">
         #{email,jdbcType=CHAR},
      </if>
      <if test= "password != null">
         #{password,jdbcType=CHAR},
      </if>
      <if test= "userType != null">
         #{userType,jdbcType=CHAR},
      </if>
      <if test= "userStatus != null">
         #{userStatus,jdbcType=CHAR},
      </if>
      <if test= "userNum != null">
         #{userNum,jdbcType=CHAR},
      </if>
      <if test= "isActiveEmail != null">
         #{isActiveEmail,jdbcType=CHAR},
      </if>
      <if test= "isDel != null">
         #{isDel,jdbcType=CHAR},
      </if>
      <if test= "createTime != null">
         #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "createTime == null">
         CURRENT_TIMESTAMP(),
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update user_info
    <set>
        user_id = #{record.userId,jdbcType=CHAR},
        account = #{record.account,jdbcType=CHAR},
        mobile = #{record.mobile,jdbcType=CHAR},
        email = #{record.email,jdbcType=CHAR},
        password = #{record.password,jdbcType=CHAR},
        user_type = #{record.userType,jdbcType=CHAR},
        user_status = #{record.userStatus,jdbcType=CHAR},
        user_num = #{record.userNum,jdbcType=CHAR},
        is_active_email = #{record.isActiveEmail,jdbcType=CHAR},
        is_del = #{record.isDel,jdbcType=CHAR}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update user_info
    <set>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.account !=null">
        account = #{record.account,jdbcType=CHAR},
      </if>
      <if test="record.mobile !=null">
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.email !=null">
        email = #{record.email,jdbcType=CHAR},
      </if>
      <if test="record.password !=null">
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.userType !=null">
        user_type = #{record.userType,jdbcType=CHAR},
      </if>
      <if test="record.userStatus !=null">
        user_status = #{record.userStatus,jdbcType=CHAR},
      </if>
      <if test="record.userNum !=null">
        user_num = #{record.userNum,jdbcType=CHAR},
      </if>
      <if test="record.isActiveEmail !=null">
        is_active_email = #{record.isActiveEmail,jdbcType=CHAR},
      </if>
      <if test="record.isDel !=null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createTime !=null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.user.UserInfo" >
    update user_info
    <set>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="account !=null">
      account = #{account,jdbcType=CHAR},
      </if>
      <if test="mobile !=null">
      mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="email !=null">
      email = #{email,jdbcType=CHAR},
      </if>
      <if test="password !=null">
      password = #{password,jdbcType=CHAR},
      </if>
      <if test="userType !=null">
      user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="userStatus !=null">
      user_status = #{userStatus,jdbcType=CHAR},
      </if>
      <if test="userNum !=null">
      user_num = #{userNum,jdbcType=CHAR},
      </if>
      <if test="isActiveEmail !=null">
      is_active_email = #{isActiveEmail,jdbcType=CHAR},
      </if>
      <if test="isDel !=null">
      is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime !=null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>

</mapper>
