<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooagoo.dao.generator.user.UserMobileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gooagoo.entity.generator.user.UserMobileInfo" >
    <id column="user_id" property="userId" jdbcType="CHAR" />
    <result column="mac_address" property="macAddress" jdbcType="CHAR" />
    <result column="m_id" property="mId" jdbcType="CHAR" />
    <result column="m_ver" property="mVer" jdbcType="CHAR" />
    <result column="m_type" property="mType" jdbcType="CHAR" />
    <result column="sessionid" property="sessionid" jdbcType="CHAR" />
    <result column="iphone_token" property="iphoneToken" jdbcType="CHAR" />
    <result column="iphone_token_time" property="iphoneTokenTime" jdbcType="TIMESTAMP" />
    <result column="c_time_stamp" property="cTimeStamp" jdbcType="TIMESTAMP" />
  </resultMap>

<!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- 修改where部分sql限制条件集合 -->
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

<!-- select部分查询字段集合 -->
  <sql id="Base_Column_List">
      user_id, mac_address, m_id, 
      m_ver, m_type, sessionid, 
      iphone_token, iphone_token_time, c_time_stamp
  </sql>

  <!-- 按对象可分页可去重查询 -->
  <select id="selectByExample" parameterType="com.gooagoo.entity.generator.user.UserMobileInfoExample" resultMap="BaseResultMap">
    select
      <if test="distinct">
         distinct
      </if>
      <include refid="Base_Column_List" />
    from user_mobile_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>

  <!-- 按对象查询数据条数 -->
  <select id="countByExample" parameterType="com.gooagoo.entity.generator.user.UserMobileInfoExample" resultType="java.lang.Integer">
    select count(*) from user_mobile_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 按主键实体查询表信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gooagoo.entity.generator.user.UserMobileInfoKey" >
    select 
      user_id, mac_address, m_id, 
      m_ver, m_type, sessionid, 
      iphone_token, iphone_token_time, c_time_stamp
    from user_mobile_info where user_id = #{userId,jdbcType=CHAR}
  </select>

  <!-- 按对象删除数据 -->
  <delete id="deleteByExample" parameterType="com.gooagoo.entity.generator.user.UserMobileInfoExample">
    delete from user_mobile_info
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <!-- 按表主键删除数据 -->
  <delete id="deleteByPrimaryKey" parameterType="com.gooagoo.entity.generator.user.UserMobileInfoKey" >
    delete from user_mobile_info where user_id = #{userId,jdbcType=CHAR}
  </delete>

  <!-- 可选择性添加数据 -->
  <insert id="insertSelective" parameterType="com.gooagoo.entity.generator.user.UserMobileInfo" >
    insert into user_mobile_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test= "userId != null">
         user_id,
      </if>
      <if test= "macAddress != null">
         mac_address,
      </if>
      <if test= "mId != null">
         m_id,
      </if>
      <if test= "mVer != null">
         m_ver,
      </if>
      <if test= "mType != null">
         m_type,
      </if>
      <if test= "sessionid != null">
         sessionid,
      </if>
      <if test= "iphoneToken != null">
         iphone_token,
      </if>
      <if test= "iphoneTokenTime != null">
         iphone_token_time,
      </if>
      <if test= "cTimeStamp != null">
         c_time_stamp,
      </if>
      <if test= "cTimeStamp == null">
         c_time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test= "userId != null">
         #{userId,jdbcType=CHAR},
      </if>
      <if test= "macAddress != null">
         #{macAddress,jdbcType=CHAR},
      </if>
      <if test= "mId != null">
         #{mId,jdbcType=CHAR},
      </if>
      <if test= "mVer != null">
         #{mVer,jdbcType=CHAR},
      </if>
      <if test= "mType != null">
         #{mType,jdbcType=CHAR},
      </if>
      <if test= "sessionid != null">
         #{sessionid,jdbcType=CHAR},
      </if>
      <if test= "iphoneToken != null">
         #{iphoneToken,jdbcType=CHAR},
      </if>
      <if test= "iphoneTokenTime != null">
         #{iphoneTokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp != null">
         #{cTimeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test= "cTimeStamp == null">
         CURRENT_TIMESTAMP(),
      </if>
    </trim>
  </insert>

  <!-- 按对象更新表所有字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateAllByExample">
    update user_mobile_info
    <set>
        user_id = #{record.userId,jdbcType=CHAR},
        mac_address = #{record.macAddress,jdbcType=CHAR},
        m_id = #{record.mId,jdbcType=CHAR},
        m_ver = #{record.mVer,jdbcType=CHAR},
        m_type = #{record.mType,jdbcType=CHAR},
        sessionid = #{record.sessionid,jdbcType=CHAR},
        iphone_token = #{record.iphoneToken,jdbcType=CHAR},
        iphone_token_time = #{record.iphoneTokenTime,jdbcType=TIMESTAMP}
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按对象选择性更新表字段信息（create_time,c_time_stamp字段除外） -->
  <update id="updateByExampleSelective">
    update user_mobile_info
    <set>
      <if test="record.userId !=null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.macAddress !=null">
        mac_address = #{record.macAddress,jdbcType=CHAR},
      </if>
      <if test="record.mId !=null">
        m_id = #{record.mId,jdbcType=CHAR},
      </if>
      <if test="record.mVer !=null">
        m_ver = #{record.mVer,jdbcType=CHAR},
      </if>
      <if test="record.mType !=null">
        m_type = #{record.mType,jdbcType=CHAR},
      </if>
      <if test="record.sessionid !=null">
        sessionid = #{record.sessionid,jdbcType=CHAR},
      </if>
      <if test="record.iphoneToken !=null">
        iphone_token = #{record.iphoneToken,jdbcType=CHAR},
      </if>
      <if test="record.iphoneTokenTime !=null">
        iphone_token_time = #{record.iphoneTokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cTimeStamp !=null">
        c_time_stamp = #{record.cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    <if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!-- 按主键更新表中所有字段信息（create_time,c_time_stamp字段除外）-->
  <update id="updateByPrimaryKeySelective" parameterType="com.gooagoo.entity.generator.user.UserMobileInfo" >
    update user_mobile_info
    <set>
      <if test="userId !=null">
      user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="macAddress !=null">
      mac_address = #{macAddress,jdbcType=CHAR},
      </if>
      <if test="mId !=null">
      m_id = #{mId,jdbcType=CHAR},
      </if>
      <if test="mVer !=null">
      m_ver = #{mVer,jdbcType=CHAR},
      </if>
      <if test="mType !=null">
      m_type = #{mType,jdbcType=CHAR},
      </if>
      <if test="sessionid !=null">
      sessionid = #{sessionid,jdbcType=CHAR},
      </if>
      <if test="iphoneToken !=null">
      iphone_token = #{iphoneToken,jdbcType=CHAR},
      </if>
      <if test="iphoneTokenTime !=null">
      iphone_token_time = #{iphoneTokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTimeStamp !=null">
      c_time_stamp = #{cTimeStamp,jdbcType=TIMESTAMP}
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>

</mapper>
